<div class='{{this.class}} grade-row'>
  <button
    type="button"
    class="grade-name spell-cast-button"
    data-on-click="castSpellGrade"
    data-spell-id="{{this.spellId}}"
    data-grade="{{this.gradeName}}"
  >
    {{localize (concat 'anima.ui.mystic.spell.grade.' this.gradeName '.title')}}
  </button>
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="int-required"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.intRequired.title")
    inputName=this.intRequiredInputName
    inputValue=this.grade.intRequired.value
  }}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="zeon"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.zeon.title")
    inputName=this.zeonInputName
    inputValue=this.grade.zeon.value
  }}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="maintenance-cost"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.maintenanceCost.title")
    inputType="text"
    inputName=this.maintenanceCostInputName
    inputValue=this.grade.maintenanceCost.value
  }}
  {{#if (is 'eq' this.spellCombatType 'attack')}}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="damage"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.damage.title")
    inputName=this.damageInputName
    inputValue=this.grade.damage.value
  }}
  {{/if}}
  {{#if (is 'eq' this.spellCombatType 'defense')}}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="shield-points"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.shieldPoints.title")
    inputName=this.shieldPointsInputName
    inputValue=this.grade.shieldPoints.value
  }}
  {{/if}}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="description"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.description.title")
    inputType="text"
    inputName=this.descriptionInputName
    inputValue=this.grade.description.value
  }}
</div>