<div class='{{this.class}} grade-row'>
  <p class='label grade-name'>{{localize this.grade.name.value}}</p>
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="int-required"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.intRequired.title")
    inputName=(concat "data.dynamic.spells." this.spellId ".data.grades." this.gradeName ".intRequired.value")
    inputValue=this.grade.intRequired.value
  }}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="zeon"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.zeon.title")
    inputName=(concat "data.dynamic.spells." this.spellId ".data.grades." this.gradeName ".zeon.value")
    inputValue=this.grade.zeon.value
  }}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="maintenance-cost"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.maintenanceCost.title")
    inputType="text"
    inputName=(concat "data.dynamic.spells." this.spellId ".data.grades." this.gradeName ".maintenanceCost.value")
    inputValue=this.grade.maintenanceCost.value
  }}
  {{>
  "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
    class="description"
    hideTitle=this.hideTitle
    title=(localize "anima.ui.mystic.spell.grade.description.title")
    inputType="text"
    inputName=(concat "data.dynamic.spells." this.spellId ".data.grades." this.gradeName ".description.value")
    inputValue=this.grade.description.value
  }}
</div>