<div class='psychic-tab'>
  <div class='first-column'>
    <div class='sub-columns'>
      <div>
        {{> "systems/animabf/templates/parts/psychic/parts/psychic-potential.hbs"}}
        {{> "systems/animabf/templates/parts/psychic/parts/psychic-projection.hbs"}}
        {{> "systems/animabf/templates/parts/psychic/parts/psychic-points.hbs"}}
      </div>
      <div>
        {{> "systems/animabf/templates/parts/psychic/parts/psychic-disciplines.hbs"}}
      </div>
    </div>
    {{> "systems/animabf/templates/parts/psychic/parts/mental-patterns.hbs"}}
    {{> "systems/animabf/templates/parts/psychic/parts/innate-psychic-powers.hbs"}}
  </div>
  <div class='second-column'>
    {{> "systems/animabf/templates/parts/psychic/parts/psychic-powers.hbs"}}
  </div>
</div>