<div class='common-titled-input {{#if this.isVertical}}vertical{{/if}} {{this.class}}'>
  {{#unless this.hideTitle}}
    <p class='label'>{{this.title}}</p>
  {{/unless}}

  <select
    class='input'
    name='{{this.inputName}}'
    {{#if this.disabled}}disabled{{/if}}
  >
    {{> @partial-block}}
  </select>
</div>