<div class='group-header'>
  {{# if @partial-block}}
    {{> @partial-block}}
  {{else}}
    {{#if this.addRowButtonData}}
      {{>
      "systems/animabf/templates/common/ui/add-item-button.hbs"
        class=this.addRowButtonClass
        data=this.addRowButtonData
      }}
    {{/if}}
    {{>
    "systems/animabf/templates/common/ui/group-header-title.hbs"
      title=this.title
    }}
  {{/if}}
</div>