{
  "root": true,
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb-typescript/base"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/ban-types": "off",
    "class-methods-use-this": "off",
    "@typescript-eslint/indent": "off",
    "max-len": ["warn", { "code": 120 }],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-param-reassign": "off",
    "object-curly-newline": "off",
    "no-new": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-continue": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/comma-dangle": ["off"],
    "import/no-cycle": ["off"],
    "@typescript-eslint/lines-between-class-members": ["off"],
    "operator-linebreak": ["off"],
    "arrow-parens": ["off"],
    "no-underscore-dangle": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "import/prefer-default-export": ["off"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "arrow-body-style": "off"
  },
  "ignorePatterns": ["**/*.d.ts"]
}
