<form class="abf-shield-config">
  <div class="form-group">
    <label>{{localize "anima.ui.combat.supernaturalShields.bonus.title"}}</label>
    <input
      type="number"
      name="formulaBonus"
      value="{{formulaBonus}}"
      step="1"
    />
  </div>
</form>
