<form class="{{cssClass}} flexrow" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="header-fields">
		<div class="content">
			<div class="header-top">

				{{!-- Name --}}
				<h2 class="name text"><input type="text"  name="name" value="{{actor.name}}"></h2>

				{{!-- Dices --}}
				<div class="dice"><img src="\systems\animabf\assets\dice.png" class="rollable" data-roll="1d10"><span class="rollable" data-roll="1d10">10</span></div>
				<div class="dice"><img src="\systems\animabf\assets\dice.png" class="rollable" data-roll="1d100xa"><span class="rollable" data-roll="1d100xa">100</span></div>
			</div>


			<img src="{{actor.img}}" class="img-profile" data-edit="img" title="{{actor.name}}" height="145" width="145">

			{{!-- Modifiers --}}
			<div class="modifiers">
				<h3 class="text">- {{localize "anima.modifiers"}} -</h3>
				<h4 class="text">{{localize "anima.modifiersPhysical"}}</h4>
				<h4 class="text">{{localize "anima.modifiersAll"}}</h4>
				<input type="number" name="data.temp.physical.value" class="physical-number text" value="{{data.temp.physical.value}}" data-dtype="Number">
				<input type="number" name="data.temp.action.value" class="action-number text" value="{{data.temp.action.value}}" data-dtype="Number">
			</div>

			{{!-- Characteristics --}}
			<div class="characteristics flexcol">
				{{#each data.characteristics.primaries as | char key|}}
				<div class="flexrow">
					<label for="data.characteristics.primaries.{{key}}.value" class="rollable text" data-roll="1d10+@characteristics.primaries.{{key}}.value" data-label="{{key}}">{{localize (concat "anima." key)}}</label>
					<input type="number" name="data.characteristics.primaries.{{key}}.value" value="{{char.value}}" data-dtype="Number">
					<label for="data.characteristics.primaries.{{key}}.value" class="bonus text">{{numberFormat char.mod decimals=0 sign=true}}</label>
				</div>
				{{/each}}
			</div>

			{{!-- Resistances --}}
			<div class="resistances">
				<h3 class="text">{{localize "anima.resistances"}}</h3>
				{{#each data.characteristics.secondaries.resistances as | atr key|}}
				<div>
					<label for="data.characteristics.secondaries.resistances.{{key}}.value" class="rollable text" data-roll="1d100+@characteristics.secondaries.resistances.{{key}}.value" data-label="{{key}}">
					{{localize (concat "anima." key)}}
					</label>
					<input type="number" name="data.characteristics.secondaries.resistances.{{key}}.value" value="{{atr.value}}" data-dtype="Number">
				</div>
				{{/each}}
			</div>

			{{!-- Common Resources --}}
			<div class="CommonResources">
				{{!-- Life --}}
				<div class="lifePoints">
					<span class="text-off">{{localize "anima.basic"}}</span>
					<span class="text">{{localize "anima.lifePoints"}}</span>
					<input type="number" name="data.general.lifePoints.max" class="max-life" value="{{data.general.lifePoints.max}}" data-dtype="Number">
					<input type="number" name="data.general.lifePoints.value" class="current-life" value="{{data.general.lifePoints.value}}" data-dtype="Number">
				</div>

				{{!-- Turns --}}
				<div class="turns">
					<h3 class="text">{{localize "anima.speed"}}</h3>
					<h3 class="text-off">{{localize "anima.basic"}}</h3>
					<h3 class="text-off">{{localize "anima.extra"}}</h3>
					<h3 class="text-off">{{localize "anima.extra"}}</h3>
					<input type="number" name="data.characteristics.secondaries.initiative.value" class="turn base" value="{{data.characteristics.secondaries.initiative.value}}" data-dtype="Number">
					<input type="number" name="data.temp.initiative1.value" class="turn" value="{{data.temp.initiative1.value}}" data-dtype="Number">
					<input type="number" name="data.temp.initiative2.value" class="turn" value="{{data.temp.initiative2.value}}" data-dtype="Number">
				</div>

				{{!-- Fatigue and Movement --}}
				<div class="fati-movem flexrow">
					<div class="fatigue">
						<h3 class="text">{{localize "anima.fatigue"}}</h3>
						<input type="number" name="data.general.fatigue.max" class="max-fatigue" value="{{data.general.fatigue.max}}" data-dtype="Number">
						<input type="number" name="data.general.fatigue.value" class="current-fatigue" value="{{data.general.fatigue.value}}" data-dtype="Number">
					</div>
					<div class="movement">
						<h3 class="text">{{localize "anima.movement"}}</h3>
						<div class="box-movement">
							<input type="number" name="data.characteristics.secondaries.movement.value" class="movement-meter text" value="{{data.characteristics.secondaries.movement.value}}" data-dtype="Number">
							<span class="meter text">m.</span>
						</div>
					</div>
				</div>

			</div>
			{{!-- Armor --}}
			<div class="armor">
				<div class="label-text flexrow">
					<span class="text-armor text">{{localize "anima.armor"}}</span>
					<span class="text">{{localize "anima.cut"}}</span>
					<span class="text">{{localize "anima.impact"}}</span>
					<span class="text">{{localize "anima.thrust"}}</span>
					<span class="text">{{localize "anima.heat"}}</span>
					<span class="text">{{localize "anima.electric"}}</span>
					<span class="text">{{localize "anima.cold"}}</span>
					<span class="text">{{localize "anima.energy"}}</span>
				</div>
				<div class="AT">
					<input type="text" name="data.temp.nameArmor" class="nameArmor" value="{{data.temp.nameArmor}}" data-dtype="String">
					<input type="Number" name="data.temp.cut.value" class="AT-Number" value="{{data.temp.cut.value}}" data-dtype="Number">
					<input type="Number" name="data.temp.impact.value" class="AT-Number" value="{{data.temp.impact.value}}" data-dtype="Number">
					<input type="Number" name="data.temp.thrust.value" class="AT-Number" value="{{data.temp.thrust.value}}" data-dtype="Number">
					<input type="Number" name="data.temp.heat.value" class="AT-Number" value="{{data.temp.heat.value}}" data-dtype="Number">
					<input type="Number" name="data.temp.electric.value" class="AT-Number" value="{{data.temp.electric.value}}" data-dtype="Number">
					<input type="Number" name="data.temp.cold.value" class="AT-Number" value="{{data.temp.cold.value}}" data-dtype="Number">
					<input type="Number" name="data.temp.energy.value" class="AT-Number" value="{{data.temp.energy.value}}" data-dtype="Number">
				</div>
			</div>
		</div>
	<header>
			{{!-- Character Sheet Navigation --}}
			<nav class="sheet-tabs tabs" data-group="primary">
				<a class="item" data-tab="main">{{localize "anima.main"}}</a>
				<a class="item" data-tab="secondaries">{{localize "anima.secondaries"}}</a>
				<a class="item" data-tab="combat">{{localize "anima.combat"}}</a>
				<a class="item" data-tab="mystic">{{localize "anima.mystic"}}</a>
				<a class="item" data-tab="domine">{{localize "anima.domine"}}</a>
				<a class="item" data-tab="psychic">{{localize "anima.psychics"}}</a>
			</nav>
			{{!-- Sheet Body --}}
			<section class="sheet-body">

				{{!-- Main Tab --}}
				<div class="tab main" data-group="primary" data-tab="main">
					{{> "systems/animabf/templates/parts/general/general.hbs"}}
				</div>

				{{!-- Secondaries Tab --}}
				<div class="tab secondaries" data-group="primary" data-tab="secondaries">
					{{> "systems/animabf/templates/parts/secondaries.html"}}
				</div>

				{{!-- Combat Tab --}}
				<div class="tab combat" data-group="primary" data-tab="combat">
					{{> "systems/animabf/templates/parts/combat.html"}}
				</div>

				{{!-- Mystic Tab --}}
				<div class="tab mystic" data-group="primary" data-tab="mystic">
					{{> "systems/animabf/templates/parts/mystic/mystic.hbs"}}
				</div>

				{{!-- Domine Tab --}}
				<div class="tab domine" data-group="primary" data-tab="domine">
					{{> "systems/animabf/templates/parts/domine.html"}}
				</div>

				{{!-- Psychics Tab --}}
				<div class="tab psychics" data-group="primary" data-tab="psychic">
					{{> "systems/animabf/templates/parts/psychic/psychic.hbs"}}
				</div>

			</section>
</form>
