<form class="{{cssClass}} flexrow" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="header-filds">
		<div class="head grid">
			<img class="profile" src="{{actor.img}}" title=" {{actor.name}}" data-edit="img">
			<div class="summary grid">
				<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
				<input name="data.description.race" type="text" value="{{data.description.race}}" placeholder="Race"/>
				<input name="data.description.category" type="text" value="{{data.description.category}}" placeholder="Category"/>
				<input name="data.description.background" type="text" value="{{data.description.background}}" placeholder="Background"/>
				<div class="xp-summary">
					<span>LV: </span>
					<input name="data.description.level.value" type="text" value="{{data.description.level.value}}" placeholder="Level" data-dtype="Number"/>
					<span>XP: </span>
					<input name="data.description.experience" type="text" value="{{data.description.experience}}" placeholder="XP" data-dtype="Number">
				</div>
				<div class="gnosis">
					<span>Nature: </span>
					<input type="text" class="natue" name="data.description.nature.value" value="{{data.description.nature.value}}" placeholder="Nature" data-dtype="Number"/>
					<span>Gnosis: </span>
					<input type="text" class="gnosis" name="data.description.gnosis.value" value="{{data.description.gnosis.value}}" placeholder="Gnosis" data-dtype="Number"/>
				</div>
			</div>
			<div class="common resources grid">
				<input class="life" name="data.common.resources.life.points.value" type="text" value="{{data.common.resources.life.points.value}}">
				<div class="maxlife">
					<span>Max. Life </span>
					<input name="data.common.resources.life.points.max" type="text" value="{{data.common.resources.life.points.max}}" disabled>
				</div>
				<div class="regen">
					<input type="text" name="data.secondaries.regeneration.value" value="{{data.secondaries.regeneration.value}}" disabled>
					<span>Regen. </span>
				</div>
				<div class="movement">
					<span> Movement </span>
					<input type="text" name="data.secondaries.movement.value" value="{{data.secondaries.movement.value}}" disabled>
				</div>
				<div class="fatigue">
					<input type="text" name="data.common.resources.fatigue.value" value="{{data.common.resources.fatigue.value}}">
					<span> Fatigue</span>
				</div>
			</div>
			<div class="mod grid">
				<h3>Modificadores</h3>
				<div class="rollable" data-roll="1d100xa"><i class="fas fa-dice-d20"></i></div>
				<input type="text" class="mod." placeholder="Mod.">
				<input type="text" class="pen" placeholder="Pen.">
				<input type="text" class="pen-phy" placeholder="Pen. fisico">
			</div>
		</div>
		<header>
			{{!-- Character Sheet Navigation --}}
			<nav class="sheet-tabs tabs" data-group="primary">
				<a class="item" data-tab="main">{{localize "anima.main"}}</a>
				<a class="item" data-tab="secondaries">{{localize "anima.secondaries"}}</a>
				<a class="item" data-tab="combat">{{localize "anima.combat"}}</a>
				<a class="item" data-tab="mystic">{{localize "anima.mystic"}}</a>
				<a class="item" data-tab="domine">{{localize "anima.domine"}}</a>
				<a class="item" data-tab="elan">{{localize "anima.elan"}}</a>
			</nav>
			{{!-- Sheet Body --}}
			<section class="sheet-body">

				{{!-- Main Tab --}}
				<div class="tab main" data-group="primary" data-tab="main">
					{{> "systems/animabf/templates/parts/main.html"}}
				</div>

				{{!-- Secondaries Tab --}}
				<div class="tab secondaries" data-group="primary" data-tab="secondaries">
					{{> "systems/animabf/templates/parts/secondaries.html"}}
				</div>

				{{!-- Combat Tab --}}
				<div class="tab combat" data-group="primary" data-tab="combat">
					{{> "systems/animabf/templates/parts/combat.html"}}
				</div>

				{{!-- Mystic Tab --}}
				<div class="tab mystic" data-group="primary" data-tab="mystic">
					{{> "systems/animabf/templates/parts/mystic.html"}}
				</div>

				{{!-- Domine Tab --}}
				<div class="tab domine" data-group="primary" data-tab="domine">
					{{> "systems/animabf/templates/parts/domine.html"}}
				</div>

				{{!-- Elan Tab --}}
				<div class="tab elan" data-group="primary" data-tab="elan">
					{{> "systems/animabf/templates/parts/elan.html"}}
				</div>

			</section>
</form>