{{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
  isVertical=true
  class=this.class
  title=this.title
  inputName=this.inputName
}}
  <option {{#if (is "eq" this.inputValue 'complete')}}selected{{/if}} value='complete'>{{localize 'anima.ui.combat.armors.localization.complete.title'}}</option>
  <option {{#if (is "eq" this.inputValue 'nightdress')}}selected{{/if}} value='nightdress'>{{localize 'anima.ui.combat.armors.localization.nightdress.title'}}</option>
  <option {{#if (is "eq" this.inputValue 'breastplate')}}selected{{/if}} value='breastplate'>{{localize 'anima.ui.combat.armors.localization.breastplate.title'}}</option>
  <option {{#if (is "eq" this.inputValue 'head')}}selected{{/if}} value='head'>{{localize 'anima.ui.combat.armors.localization.head.title'}}</option>
{{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
