{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="ars-magnus"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.arsMagnus.title")
    addRowButtonData="add-ars-magnus"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="ars-magnus"
  }}
    {{#each data.data.domine.arsMagnus}}
      <div data-item-id='{{this._id}}' class='ars-magnus-row'>
        <input
          name='data.dynamic.arsMagnus.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}