{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="creatures"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.creatures.title")
    addRowButtonData="add-creature"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="creatures"
  }}
    {{#each system.domine.creatures as |creature index|}}
      <div data-item-id='{{creature._id}}' class='creature-row'>
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.domine.creatures.name.title")
          hideTitle=(is "gt" index 0)
          inputType="text"
          inputName=(concat "system.dynamic.creatures." creature._id ".name")
          inputValue=creature.name
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="fire"
          title=(localize "anima.ui.domine.creatures.fire.title")
          hideTitle=(is "gt" index 0)
          inputType="checkbox"
          inputName=(concat "system.dynamic.creatures." creature._id ".system.fire.value")
          inputValue=(is 'eq' creature.system.fire.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="water"
          title=(localize "anima.ui.domine.creatures.water.title")
          hideTitle=(is "gt" index 0)
          inputType="checkbox"
          inputName=(concat "system.dynamic.creatures." creature._id ".system.water.value")
          inputValue=(is 'eq' creature.system.water.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="earth"
          title=(localize "anima.ui.domine.creatures.earth.title")
          hideTitle=(is "gt" index 0)
          inputType="checkbox"
          inputName=(concat "system.dynamic.creatures." creature._id ".system.earth.value")
          inputValue=(is 'eq' creature.system.earth.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="wood"
          title=(localize "anima.ui.domine.creatures.wood.title")
          hideTitle=(is "gt" index 0)
          inputType="checkbox"
          inputName=(concat "system.dynamic.creatures." creature._id ".system.wood.value")
          inputValue=(is 'eq' creature.system.wood.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="metal"
          title=(localize "anima.ui.domine.creatures.metal.title")
          hideTitle=(is "gt" index 0)
          inputType="checkbox"
          inputName=(concat "system.dynamic.creatures." creature._id ".system.metal.value")
          inputValue=(is 'eq' creature.system.metal.value true)
        }}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
