{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="creatures"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.creatures.title")
    addRowButtonData="add-creature"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="creatures"
  }}
    {{#each data.data.domine.creatures}}
      <div data-item-id='{{this._id}}' class='creature-row'>
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.domine.creatures.name.title")
          hideTitle=(is "gt" @index 0)
          inputType="text"
          inputName=(concat "data.dynamic.creatures." this._id ".name")
          inputValue=this.name
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="fire"
          title=(localize "anima.ui.domine.creatures.fire.title")
          hideTitle=(is "gt" @index 0)
          inputType="checkbox"
          inputName=(concat "data.dynamic.creatures." this._id ".data.fire.value")
          inputValue=(is 'eq' this.data.fire.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="water"
          title=(localize "anima.ui.domine.creatures.water.title")
          hideTitle=(is "gt" @index 0)
          inputType="checkbox"
          inputName=(concat "data.dynamic.creatures." this._id ".data.water.value")
          inputValue=(is 'eq' this.data.water.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="earth"
          title=(localize "anima.ui.domine.creatures.earth.title")
          hideTitle=(is "gt" @index 0)
          inputType="checkbox"
          inputName=(concat "data.dynamic.creatures." this._id ".data.earth.value")
          inputValue=(is 'eq' this.data.earth.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="wood"
          title=(localize "anima.ui.domine.creatures.wood.title")
          hideTitle=(is "gt" @index 0)
          inputType="checkbox"
          inputName=(concat "data.dynamic.creatures." this._id ".data.wood.value")
          inputValue=(is 'eq' this.data.wood.value true)
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="metal"
          title=(localize "anima.ui.domine.creatures.metal.title")
          hideTitle=(is "gt" @index 0)
          inputType="checkbox"
          inputName=(concat "data.dynamic.creatures." this._id ".data.metal.value")
          inputValue=(is 'eq' this.data.metal.value true)
        }}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}