{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="ki-skills"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.kiSkills.title")
    addRowButtonData="add-ki-skill"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="ki-skills"
  }}
    {{#each data.data.domine.kiSkills}}
      <div data-item-id='{{this._id}}' class='ki-skill-row'>
        <input
          name='data.dynamic.kiSkills.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}