{{#> "systems/abf/templates/common/ui/group.hbs"
  class="ki-skills"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.kiSkills.title")
    addRowButtonData="add-ki-skill"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="ki-skills"
  }}
    {{#each system.domine.kiSkills as |kiSkill|}}
      <div data-item-id='{{kiSkill._id}}' class='ki-skill-row'>
        <input
          name='system.dynamic.kiSkills.{{kiSkill._id}}.name'
          type='text'
          class='input'
          value='{{kiSkill.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
