{{#> "systems/abf/templates/common/ui/group.hbs"
  class="martial-arts"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.martialArts.title")
    addRowButtonData="add-martial-art"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="martial-arts"
  }}
    {{#each system.domine.martialArts as |martialArt index|}}
      <div data-item-id='{{martialArt._id}}' class='martial-art-row'>
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.domine.martialArts.name.title")
          hideTitle=(is "gt" index 0)
          inputType="text"
          inputName=(concat "system.dynamic.martialArts." martialArt._id ".name")
          inputValue=martialArt.name
        }}
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="grade"
          title=(localize "anima.ui.domine.martialArts.grade.title")
          hideTitle=(is "gt" index 0)
          inputType="text"
          inputName=(concat "system.dynamic.martialArts." martialArt._id ".system.grade.value")
          inputValue=martialArt.system.grade.value
        }}
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
