{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="nemesis-skills"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.nemesisSkills.title")
    addRowButtonData="add-nemesis-skill"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="nemesis-skills"
  }}
    {{#each data.data.domine.nemesisSkills}}
      <div data-item-id='{{this._id}}' class='nemesis-skill-row'>
        <input
          name='data.dynamic.nemesisSkills.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}