{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="nemesis-skills"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.nemesisSkills.title")
    addRowButtonData="add-nemesis-skill"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="nemesis-skills"
  }}
    {{#each system.domine.nemesisSkills as |nemesisSkill|}}
      <div data-item-id='{{nemesisSkill._id}}' class='nemesis-skill-row'>
        <input
          name='data.dynamic.nemesisSkills.{{nemesisSkill._id}}.name'
          type='text'
          class='input'
          value='{{nemesisSkill.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
