{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="techniques"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.domine.techniques.title")
    addRowButtonData="add-technique"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="techniques"
  }}
    {{#each data.data.domine.techniques as |technique|}}
      <div data-item-id='{{technique._id}}' class='technique-row'>
        {{#> "systems/animabf/templates/common/ui/group.hbs"
          class="technique"
          contractible=true
          contractibleItemId=technique._id
        }}
          {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
            <div class='technique-header'>
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="name"
                title=(localize "anima.ui.domine.techniques.technique.header.name.title")
                inputType="text"
                inputName=(concat "data.dynamic.techniques." technique._id ".name")
                inputValue=technique.name
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-body.hbs"
            class="technique"
          }}
            {{editor content=technique.data.description.value target=(concat "data.dynamic.techniques." technique._id ".data.description.value") button=true owner=true editable=true}}
          {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-footer.hbs"}}
            <div class='technique-footer'>
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="level"
                title=(localize "anima.ui.domine.techniques.technique.footer.level.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.level.value")
                inputValue=technique.data.level.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="strength"
                title=(localize "anima.ui.domine.techniques.technique.footer.strength.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.strength.value")
                inputValue=technique.data.strength.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="agility"
                title=(localize "anima.ui.domine.techniques.technique.footer.agility.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.agility.value")
                inputValue=technique.data.agility.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="dexterity"
                title=(localize "anima.ui.domine.techniques.technique.footer.dexterity.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.dexterity.value")
                inputValue=technique.data.dexterity.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="constitution"
                title=(localize "anima.ui.domine.techniques.technique.footer.constitution.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.constitution.value")
                inputValue=technique.data.constitution.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="willPower"
                title=(localize "anima.ui.domine.techniques.technique.footer.willPower.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.willPower.value")
                inputValue=technique.data.willPower.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="power"
                title=(localize "anima.ui.domine.techniques.technique.footer.power.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.power.value")
                inputValue=technique.data.power.value
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="martial-knowledge"
                title=(localize "anima.ui.domine.techniques.technique.footer.martialKnowledge.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".data.martialKnowledge.value")
                inputValue=technique.data.martialKnowledge.value
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}