@import 'parts/main.scss';
@import 'parts/header.scss';
@import 'parts/general.scss';
@import 'parts/secondaries.scss';
@import 'parts/combat.scss';
@import 'parts/mystic.scss';
@import 'parts/domine.scss';
@import 'parts/psychic.scss';
@import 'parts/settings.scss';
