<div class="secondaries">
  <div>
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/athletics.hbs"}}
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/vigor.hbs"}}
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/perception.hbs"}}
  </div>
  <div>
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/intellectual.hbs"}}
  </div>
  <div>
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/subterfuge.hbs"}}
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/social.hbs"}}
  </div>
  <div>
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/creative.hbs"}}
    {{> "systems/animabf/templates/actor/parts/secondaries/parts/secondary-special-skills.hbs"}}
  </div>
</div>
