<div class="metamagics">
    {{> "systems/animabf/templates/actor/parts/mystic/parts/metamagics/parts/arcane-warfare.hbs"}}
    {{> "systems/animabf/templates/actor/parts/mystic/parts/metamagics/parts/arcane-power.hbs"}}
    {{> "systems/animabf/templates/actor/parts/mystic/parts/metamagics/parts/arcane-esoterica.hbs"}}
    {{> "systems/animabf/templates/actor/parts/mystic/parts/metamagics/parts/arcane-knowledge.hbs"}}
</div>