{{#> "systems/abf/templates/common/ui/group.hbs"
  class="common-resources"
}}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="common-resources"
  }}
    <div class='first-row'>
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="current-life"
        title=(localize 'anima.ui.general.life.current.title')
        inputName="system.characteristics.secondaries.lifePoints.value"
        inputValue=system.characteristics.secondaries.lifePoints.value
        hasSecondaryInput=true
        addTooltips=true
        addTooltips=true
        secondaryInputName="system.characteristics.secondaries.lifePoints.max"
        secondaryInputValue=system.characteristics.secondaries.lifePoints.max
      }}
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="fatigue"
        title=(localize 'anima.ui.general.fatigue.title')
        inputName="system.characteristics.secondaries.fatigue.value"
        inputValue=system.characteristics.secondaries.fatigue.value
        hasSecondaryInput=true
        secondaryInputName="system.characteristics.secondaries.fatigue.max"
        secondaryInputValue=system.characteristics.secondaries.fatigue.max
      }}
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="initiative-base"
        rollable=true
        rollableDice='1d100Initiative'
        title=(localize 'anima.ui.general.initiative.base.title')
        inputName="system.characteristics.secondaries.initiative.base.value"
        inputValue=system.characteristics.secondaries.initiative.base.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        rollSecondaryInput=true
        addTooltips=true
        secondaryInputName="system.characteristics.secondaries.initiative.final.value"
        secondaryInputValue=system.characteristics.secondaries.initiative.final.value
      }}
    </div>
    <div class='movements'>
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movementType.title')
        inputName="system.characteristics.secondaries.movementType.mod.value"
        inputValue=system.characteristics.secondaries.movementType.mod.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.characteristics.secondaries.movementType.final.value"
        secondaryInputValue=system.characteristics.secondaries.movementType.final.value
      }}
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movement.maximum.title')
        disabled=true
        inputName="system.characteristics.secondaries.movement.maximum.value"
        inputValue=system.characteristics.secondaries.movement.maximum.value
      }}
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="running"
        title=(localize 'anima.ui.general.movement.running.title')
        disabled=true
        inputName="system.characteristics.secondaries.movement.running.value"
        inputValue=system.characteristics.secondaries.movement.running.value
      }}
      {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movement.quarter.title')
        disabled=true
        inputValue=(math system.characteristics.secondaries.movement.maximum.value "/" 4)
      }}
    </div>

  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
