{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="common-resources"
}}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="common-resources"
  }}
    <div class='first-row'>
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="current-life"
        title=(localize 'anima.ui.general.life.current.title')
        inputName="data.characteristics.secondaries.lifePoints.value"
        inputValue=data.data.characteristics.secondaries.lifePoints.value
        hasSecondaryInput=true
        addTooltips=true
        addTooltips=true
        secondaryInputName="data.characteristics.secondaries.lifePoints.max"
        secondaryInputValue=data.data.characteristics.secondaries.lifePoints.max
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="fatigue"
        title=(localize 'anima.ui.general.fatigue.title')
        inputName="data.characteristics.secondaries.fatigue.value"
        inputValue=data.data.characteristics.secondaries.fatigue.value
        hasSecondaryInput=true
        secondaryInputName="data.characteristics.secondaries.fatigue.max"
        secondaryInputValue=data.data.characteristics.secondaries.fatigue.max
      }}
    </div>
    <div class='second-row'>
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="initiative-base"
        rollable=true
        title=(localize 'anima.ui.general.initiative.base.title')
        inputName="data.characteristics.secondaries.initiative.base.value"
        inputValue=data.data.characteristics.secondaries.initiative.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="natural-penalty"
        disabled=true
        title=(localize 'anima.ui.general.naturalPenalty.title')
        inputValue=data.data.general.modifiers.naturalPenalty.byWearArmorRequirement.value
      }}
    </div>
    <div class='movements'>
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movementType.title')
        disabled=true
        inputName="data.characteristics.secondaries.movementType.value"
        inputValue=data.data.characteristics.secondaries.movementType.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movement.title')
        disabled=true
        inputName="data.characteristics.secondaries.movement.value"
        inputValue=data.data.characteristics.secondaries.movement.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movement.quarter.title')
        disabled=true
        inputValue=(math data.data.characteristics.secondaries.movement.value "/" 4)
      }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}