<div class='header-top'>
  <input class='actor-name-input' type='text' name='name' value='{{actor.name}}' />

  <div class='dices'>
    <div class='dice rollable' data-roll='1d10'>
      <img src='/systems/animabf/assets/icons/game-icons.net/ffffff/skoll/d10-red.svg' class='dice-image' />
    </div>

    <div class='dice rollable' data-roll='1d100xa'>
      <img src='/systems/animabf/assets/icons/game-icons.net/ffffff/skoll/d100.svg' class='dice-image' />
    </div>
  </div>
</div>