<div class='header-top'>
  <input class='actor-name-input' type='text' name='name' value='{{actor.name}}' />

  <div class='dices'>
    <div class='dice rollable' data-roll='1d10'>
      <img src='/systems/animabf/assets/dice.png' class='dice-image' />
      <span class='dice-value'>10</span>
    </div>

    <div class='dice rollable' data-roll='1d100xa'>
      <img src='/systems/animabf/assets/dice.png' class='dice-image' />
      <span class='dice-value'>100</span>
    </div>
  </div>
</div>