{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="armor"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.finalArmor.title")
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="armor"
  }}
    <div class='at'>
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="cut"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.cut.title")
        inputName="system.combat.totalArmor.at.cut.special.value"
        inputValue=system.combat.totalArmor.at.cut.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.cut.final.value"
        secondaryInputValue=system.combat.totalArmor.at.cut.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="impact"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.impact.title")
        inputName="system.combat.totalArmor.at.impact.special.value"
        inputValue=system.combat.totalArmor.at.impact.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.impact.final.value"
        secondaryInputValue=system.combat.totalArmor.at.impact.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="thrust"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.thrust.title")
        inputName="system.combat.totalArmor.at.thrust.special.value"
        inputValue=system.combat.totalArmor.at.thrust.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.thrust.final.value"
        secondaryInputValue=system.combat.totalArmor.at.thrust.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="heat"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.heat.title")
        inputName="system.combat.totalArmor.at.heat.special.value"
        inputValue=system.combat.totalArmor.at.heat.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.heat.final.value"
        secondaryInputValue=system.combat.totalArmor.at.heat.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="electric"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.electricity.title")
        inputName="system.combat.totalArmor.at.electricity.special.value"
        inputValue=system.combat.totalArmor.at.electricity.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.electricity.final.value"
        secondaryInputValue=system.combat.totalArmor.at.electricity.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="cold"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.cold.title")
        inputName="system.combat.totalArmor.at.cold.special.value"
        inputValue=system.combat.totalArmor.at.cold.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.cold.final.value"
        secondaryInputValue=system.combat.totalArmor.at.cold.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="energy"
        disabled=false
        title=(localize "anima.ui.combat.armors.at.energy.title")
        inputName="system.combat.totalArmor.at.energy.special.value"
        inputValue=system.combat.totalArmor.at.energy.special.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.combat.totalArmor.at.energy.final.value"
        secondaryInputValue=system.combat.totalArmor.at.energy.final.value
      }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
