<div class='main-tab'>
  <div class='first-column'>
    {{> "systems/animabf/templates/parts/main/parts/level.hbs"}}
    {{> "systems/animabf/templates/parts/main/parts/language.hbs"}}
    {{> "systems/animabf/templates/parts/main/parts/elan.hbs"}}
    {{> "systems/animabf/templates/parts/main/parts/titles.hbs"}}
  </div>
  <div class='second-column'>
    <div class='sub-columns'>
      <div>
        {{> "systems/animabf/templates/parts/main/parts/experience.hbs"}}
        {{> "systems/animabf/templates/parts/main/parts/advantages.hbs"}}
        {{> "systems/animabf/templates/parts/main/parts/disadvantages.hbs"}}
      </div>
      <div>
        {{> "systems/animabf/templates/parts/main/parts/aspect.hbs"}}
        {{> "systems/animabf/templates/parts/main/parts/description.hbs"}}
      </div>
    </div>
    <div class='contacts'>
      {{> "systems/animabf/templates/parts/main/parts/contacts.hbs"}}
    </div>
    <div class='notes'>
      {{> "systems/animabf/templates/parts/main/parts/notes.hbs"}}
    </div>
  </div>
</div>