<form class='{{cssClass}}' autocomplete='off'>
  {{#> "systems/animabf/templates/common/ui/group.hbs"
    class="defense-values"
  }}
    {{>
    "systems/animabf/templates/common/ui/group-header.hbs"
      title=(concat (localize 'macros.combat.dialog.defending.title') this.attacker.token.name)
    }}
    {{#> "systems/animabf/templates/common/ui/group-body.hbs"
      class="defense-values"
    }}
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="combat">{{localize "anima.ui.tabs.combat"}}</a>
        {{#if (is 'gt' this.defender.actor.data.data.mystic.spells.length 0)}}<a class="item" data-tab="mystic">{{localize "anima.ui.tabs.mystic"}}</a>{{/if}}
        {{#if (is 'gt' this.defender.actor.data.data.psychic.psychicPowers.length 0)}}<a class="item" data-tab="psychic">{{localize "anima.ui.tabs.psychic"}}</a>{{/if}}
      </nav>

      {{#if this.ui.isGM}}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          title=(localize 'macros.combat.dialog.showRoll.title')
          disabled=this.defenseSent
          inputType="checkbox"
          inputName="defender.showRoll"
          inputValue=(is 'eq' this.defender.showRoll true)
        }}
      {{/if}}

      <section class="sheet-body">
        <div class="tab combat" data-group="primary" data-tab="combat">
          {{> 'systems/animabf/templates/dialog/combat/combat-defense/parts/combat.hbs' this=this}}
        </div>

        <div class="tab mystic" data-group="primary" data-tab="mystic">
          {{> 'systems/animabf/templates/dialog/combat/combat-defense/parts/mystic.hbs' this=this}}
        </div>

        <div class="tab psychic" data-group="primary" data-tab="psychic">
          {{> 'systems/animabf/templates/dialog/combat/combat-defense/parts/psychic.hbs' this=this}}
        </div>
      </section>
    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
</form>