{{#> "systems/abf/templates/common/ui/group.hbs"
  class="innate-psychic-powers"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.psychic.innatePsychicPower.title")
    addRowButtonData="add-innate-psychic-power"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="innate-psychic-powers"
  }}
    {{#each system.psychic.innatePsychicPowers as |innatePsychicPower index|}}
      <div data-item-id='{{innatePsychicPower._id}}' class='innate-psychic-power-row'>
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.psychic.innatePsychicPower.power.title")
          hideTitle=(is "gt" index 0)
          inputType="text"
          inputName=(concat "system.dynamic.innatePsychicPowers." innatePsychicPower._id ".name")
          inputValue=innatePsychicPower.name
        }}

        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="effect"
          title=(localize "anima.ui.psychic.innatePsychicPower.effect.title")
          hideTitle=(is "gt" index 0)
          inputType="text"
          inputName=(concat "system.dynamic.innatePsychicPowers." innatePsychicPower._id ".system.effect.value")
          inputValue=innatePsychicPower.system.effect.value
        }}

        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="value"
          title=(localize "anima.ui.psychic.innatePsychicPower.value.title")
          hideTitle=(is "gt" index 0)
          inputName=(concat "system.dynamic.innatePsychicPowers." innatePsychicPower._id ".system.value.value")
          inputValue=innatePsychicPower.system.value.value
        }}

      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
  {{#> "systems/abf/templates/common/ui/group-footer.hbs"}}
    {{>
    "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
      class="amount"
      title=(localize "anima.ui.psychic.innatePsychicPower.amount.title")
      inputName="system.psychic.innatePsychicPower.amount.value"
      inputValue=system.psychic.innatePsychicPower.amount.value
    }}
  {{/"systems/abf/templates/common/ui/group-footer.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
