{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="psychic-powers"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.psychic.psychicPowers.title")
    addRowButtonData="add-psychic-power"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="psychic-powers"
  }}
    {{#each data.data.psychic.psychicPowers as |power|}}
      <div data-item-id='{{power._id}}' class='psychic-power-row'>
        {{#> "systems/animabf/templates/common/ui/group.hbs"
          class="psychic-power"
          contractible=true
          contractibleItemId=power._id
        }}
          {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
            <div class='psychic-power-header'>
              <div class='first-row'>
                {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  class="name"
                  hideTitle=true
                  inputType="text"
                  inputName=(concat "data.dynamic.psychicPowers." power._id ".name")
                  inputValue=power.name
                }}
              </div>
              <div class='second-row'>
                {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  class="level"
                  title=(localize "anima.ui.psychic.psychicPowers.power.header.level.title")
                  inputType="text"
                  inputName=(concat "data.dynamic.psychicPowers." power._id ".data.level.value")
                  inputValue=power.data.level.value
                }}
                {{>
                'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                  class="action-type"
                  choices=xRoot.config.iterables.psychic.actionTypes
                  title=(localize "anima.ui.psychic.psychicPowers.power.footer.actionType.title")
                  inputName=(concat "data.dynamic.psychicPowers." power._id ".data.actionType.value")
                  inputValue=power.data.actionType.value
                }}
              </div>
            </div>
          {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-body.hbs"
            class="psychic-power"
          }}
            {{#each power.data.effects as |effect key|}}
              <div class='effect-row'>
                <input
                  type='text'
                  class='input difficulty'
                  disabled
                  value='{{key}}'
                />
                <input
                  type='text'
                  class='input description'
                  name='{{concat "data.dynamic.psychicPowers." power._id ".data.effects." key ".value"}}'
                  value='{{effect.value}}'
                />
              </div>
            {{/each}}
          {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-footer.hbs"}}
            <div class='psychic-power-footer'>
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="has-maintenance"
                title=(localize "anima.ui.psychic.psychicPowers.power.footer.hasMaintenance.title")
                inputType="checkbox"
                inputName=(concat "data.dynamic.psychicPowers." power._id ".data.hasMaintenance.value")
                inputValue=(is 'eq' power.data.hasMaintenance.value true)
              }}
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="bonus"
                title=(localize "anima.ui.psychic.psychicPowers.power.footer.bonus.title")
                inputName=(concat "data.dynamic.psychicPowers." power._id ".data.bonus.value")
                inputValue=power.data.bonus.value
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}