{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="psychic-disciplines"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.psychic.psychicDiscipline.title")
    addRowButtonData="add-psychic-discipline"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="psychic-disciplines"
  }}
    {{#each system.psychic.psychicDisciplines as |psychicDiscipline|}}
      <div data-item-id='{{psychicDiscipline._id}}' class='psychic-discipline-row'>
        <input
          name='system.dynamic.psychicDisciplines.{{psychicDiscipline._id}}.name'
          type='text'
          class='input'
          value='{{psychicDiscipline.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
