{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="psychic-projection"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.psychic.psychicProjection.title")
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="psychic-projection"
  }}
    <div class='imbalance'>
        {{>
        "systems/animabf/templates/common/ui/types/ability.hbs"
                cssClass="offensive"
                title=(localize "anima.ui.psychic.psychicProjection.offensive.title")
                rollable=true
                path="system.psychic.psychicProjection.imbalance.offensive"
                value=system.psychic.psychicProjection.imbalance.offensive
        }}
        {{>
        "systems/animabf/templates/common/ui/types/ability.hbs"
                cssClass="defensive"
                title=(localize "anima.ui.psychic.psychicProjection.defensive.title")
                rollable=true
                path="system.psychic.psychicProjection.imbalance.defensive"
                value=system.psychic.psychicProjection.imbalance.defensive
        }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
