{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="psychic-disciplines"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.psychic.psychicDiscipline.title")
    addRowButtonData="add-psychic-discipline"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="psychic-disciplines"
  }}
    {{#each system.psychic.psychicDisciplines as |psychicDiscipline|}}
      <div data-item-id='{{psychicDiscipline._id}}' class='psychic-discipline-row'>
        {{#if psychicDiscipline.system.imbalance.value}}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="name"
          hideTitle=true
          disabled=true
          inputType="text"
          inputName='system.dynamic.psychicDisciplines.{{psychicDiscipline._id}}.name'
          inputValue=(concat  (localize (concat 'anima.ui.psychic.psychicPowers.discipline.' psychicDiscipline.name '.title')) " - " (localize 'anima.ui.psychic.psychicDiscipline.name.imbalance'))
        }}
        {{else}}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="name"
          hideTitle=true
          disabled=true
          inputType="text"
          inputName='system.dynamic.psychicDisciplines.{{psychicDiscipline._id}}.name'
          inputValue=(localize (concat 'anima.ui.psychic.psychicPowers.discipline.' psychicDiscipline.name '.title'))
        }}
        {{/if}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
