{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="magic-projection"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.magicProjection.title")
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="magic-projection"
  }}
    <div class='imbalance'>
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="offensive"
        title=(localize "anima.ui.mystic.magicProjection.offensive.title")
        rollable=true
        rollableMessage=(localize "anima.ui.mystic.magicProjection.offensive.rollMessage")
        inputName="system.mystic.magicProjection.imbalance.offensive.base.value"
        inputValue=system.mystic.magicProjection.imbalance.offensive.base.value
        hasSecondaryInput=true
        rollSecondaryInput=true
        disableSecondaryInput=true
        addTooltips=true
        secondaryInputName="system.mystic.magicProjection.imbalance.offensive.final.value"
        secondaryInputValue=system.mystic.magicProjection.imbalance.offensive.final.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="defensive"
        title=(localize "anima.ui.mystic.magicProjection.defensive.title")
        rollable=true
        rollableMessage=(localize "anima.ui.mystic.magicProjection.defensive.rollMessage")
        inputName="system.mystic.magicProjection.imbalance.defensive.base.value"
        inputValue=system.mystic.magicProjection.imbalance.defensive.base.value
        hasSecondaryInput=true
        rollSecondaryInput=true
        disableSecondaryInput=true
        addTooltips=true
        secondaryInputName="system.mystic.magicProjection.imbalance.defensive.final.value"
        secondaryInputValue=system.mystic.magicProjection.imbalance.defensive.final.value
      }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
