{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="magic-projection"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.magicProjection.title")
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="magic-projection"
  }}
    <div class='imbalance'>
        {{>
        "systems/animabf/templates/common/ui/types/ability.hbs"
                cssClass="offensive"
                title=(localize "anima.ui.mystic.magicProjection.offensive.title")
                rollable=true
                path="system.mystic.magicProjection.imbalance.offensive"
                value=system.mystic.magicProjection.imbalance.offensive
        }}
        {{>
        "systems/animabf/templates/common/ui/types/ability.hbs"
                cssClass="defensive"
                title=(localize "anima.ui.mystic.magicProjection.defensive.title")
                rollable=true
                path="system.mystic.magicProjection.imbalance.defensive"
                value=system.mystic.magicProjection.imbalance.defensive
        }}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
