{{#> "systems/abf/templates/common/ui/group.hbs"
  class="metamagics"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.metamagic.title")
    addRowButtonData="add-metamagic"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="metamagics"
  }}
    {{#each system.mystic.metamagics as |metamagic index|}}
      <div data-item-id='{{metamagic._id}}' class='metamagic-row'>
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.mystic.metamagic.name.title")
          hideTitle=(is "gt" index 0)
          inputType="text"
          inputName=(concat "system.dynamic.metamagics." metamagic._id ".name")
          inputValue=metamagic.name
        }}
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="grade"
          title=(localize "anima.ui.mystic.metamagic.grade.title")
          hideTitle=(is "gt" index 0)
          inputName=(concat "system.dynamic.metamagics." metamagic._id ".system.grade.value")
          inputValue=metamagic.system.grade.value
        }}
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
