{{#> "systems/abf/templates/common/ui/group.hbs"
  class="summons"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.summon.title")
    addRowButtonData="add-summon"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="summons"
  }}
    {{#each system.mystic.summons as |summon|}}
      <div data-item-id='{{summon._id}}' class='summon-row'>
        <input
          name='system.dynamic.summons.{{summon._id}}.name'
          type='text'
          class='input'
          value='{{summon.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
