{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="summoning"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.summoning.title")
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="summoning"
  }}
    <div class='columns'>
      <div>
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="summon"
          title=(localize "anima.ui.mystic.summoning.summon.title")
          rollable=true
          inputName="data.mystic.summoning.summon.base.value"
          inputValue=data.data.mystic.summoning.summon.base.value
          hasSecondaryInput=true
          addTooltips=true
          disableSecondaryInput=true
          rollSecondaryInput=true
          secondaryInputName="data.mystic.summoning.summon.final.value"
          secondaryInputValue=data.data.mystic.summoning.summon.final.value
        }}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="bind"
          title=(localize "anima.ui.mystic.summoning.bind.title")
          rollable=true
          inputName="data.mystic.summoning.bind.base.value"
          inputValue=data.data.mystic.summoning.bind.base.value
          hasSecondaryInput=true
          addTooltips=true
          disableSecondaryInput=true
          rollSecondaryInput=true
          secondaryInputName="data.mystic.summoning.bind.final.value"
          secondaryInputValue=data.data.mystic.summoning.bind.final.value
        }}
      </div>
      <div>
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="control"
          title=(localize "anima.ui.mystic.summoning.control.title")
          rollable=true
          inputName="data.mystic.summoning.control.base.value"
          inputValue=data.data.mystic.summoning.control.base.value
          hasSecondaryInput=true
          addTooltips=true
          disableSecondaryInput=true
          rollSecondaryInput=true
          secondaryInputName="data.mystic.summoning.control.final.value"
          secondaryInputValue=data.data.mystic.summoning.control.final.value
        }}
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="banish"
          title=(localize "anima.ui.mystic.summoning.banish.title")
          rollable=true
          inputName="data.mystic.summoning.banish.base.value"
          inputValue=data.data.mystic.summoning.banish.base.value
          hasSecondaryInput=true
          addTooltips=true
          disableSecondaryInput=true
          rollSecondaryInput=true
          secondaryInputName="data.mystic.summoning.banish.final.value"
          secondaryInputValue=data.data.mystic.summoning.banish.final.value
        }}
      </div>
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}