{{#> "systems/animabf/templates/items/base/base-sheet.hbs"}}
  {{#> "systems/animabf/templates/common/ui/group.hbs"
    class="armor-item-dialog"
  }}
    {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
      <div class='armor-header'>
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="name"
          inputType="text"
          inputName=(concat "name")
          inputValue=data.name
        }}
      </div>
    {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
    {{#> "systems/animabf/templates/common/ui/group-body.hbs"
      class="armor-item-dialog"
    }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="cut"
        title=(localize "anima.ui.combat.armors.at.cut.base.title")
        inputName=(concat "data.cut.base.value")
        inputValue=data.data.cut.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="impact"
        title=(localize "anima.ui.combat.armors.at.impact.base.title")
        inputName=(concat "data.impact.base.value")
        inputValue=data.data.impact.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="thrust"
        title=(localize "anima.ui.combat.armors.at.thrust.base.title")
        inputName=(concat "data.thrust.base.value")
        inputValue=data.data.thrust.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="heat"
        title=(localize "anima.ui.combat.armors.at.heat.base.title")
        inputName=(concat "data.heat.base.value")
        inputValue=data.data.heat.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="electricity"
        title=(localize "anima.ui.combat.armors.at.electricity.base.title")
        inputName=(concat "data.electricity.base.value")
        inputValue=data.data.electricity.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="cold"
        title=(localize "anima.ui.combat.armors.at.cold.base.title")
        inputName=(concat "data.cold.base.value")
        inputValue=data.data.cold.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="energy"
        title=(localize "anima.ui.combat.armors.at.energy.base.title")
        inputName=(concat "data.energy.base.value")
        inputValue=data.data.energy.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="integrity"
        title=(localize "anima.ui.combat.armors.integrity.base.title")
        inputName=(concat "data.integrity.base.value")
        inputValue=data.data.integrity.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="presence"
        title=(localize "anima.ui.combat.armors.presence.base.title")
        inputName=(concat "data.presence.base.value")
        inputValue=data.data.presence.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="wear-armor-requirement"
        title=(localize "anima.ui.combat.armors.wearArmorRequirement.base.title")
        inputName=(concat "data.wearArmorRequirement.base.value")
        inputValue=data.data.wearArmorRequirement.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="base-movement-restriction"
        title=(localize "anima.ui.combat.armors.movementRestriction.base.title")
        inputName=(concat "data.movementRestriction.base.value")
        inputValue=data.data.movementRestriction.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="base-natural-penalty"
        title=(localize "anima.ui.combat.armors.naturalPenalty.base.title")
        inputName=(concat "data.naturalPenalty.base.value")
        inputValue=data.data.naturalPenalty.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="is-enchanted"
        title=(localize "anima.ui.combat.armors.isEnchanted.title")
        inputType="checkbox"
        inputName=(concat "data.isEnchanted.value")
        inputValue=(is 'eq' data.data.isEnchanted.value true)
      }}
      {{>
      'systems/animabf/templates/common/domain/armor/select-armor-type.hbs'
        class="type"
        title=(localize "anima.ui.combat.armors.type.title")
        inputName=(concat "data.type.value")
        inputValue=data.data.type.value
      }}
      {{>
      'systems/animabf/templates/common/domain/armor/select-armor-localization.hbs'
        class="localization"
        title=(localize "anima.ui.combat.armors.localization.title")
        inputName=(concat "data.localization.value")
        inputValue=data.data.localization.value
      }}
    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
{{/"systems/animabf/templates/items/base/base-sheet.hbs"}}