{{#> "systems/animabf/templates/items/base/base-sheet.hbs"}}
  {{#> "systems/animabf/templates/common/ui/group.hbs"
    class="armor-item-dialog"
  }}
    {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
      <div class='armor-header'>
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="name"
          inputType="text"
          inputName="name"
          inputValue=item.name
        }}
      </div>
    {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
    {{#> "systems/animabf/templates/common/ui/group-body.hbs"
      class="armor-item-dialog"
    }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="cut"
        title=(localize "anima.ui.combat.armors.at.cut.base.title")
        inputName="system.cut.base.value"
        inputValue=system.cut.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="impact"
        title=(localize "anima.ui.combat.armors.at.impact.base.title")
        inputName="system.impact.base.value"
        inputValue=system.impact.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="thrust"
        title=(localize "anima.ui.combat.armors.at.thrust.base.title")
        inputName="system.thrust.base.value"
        inputValue=system.thrust.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="heat"
        title=(localize "anima.ui.combat.armors.at.heat.base.title")
        inputName="system.heat.base.value"
        inputValue=system.heat.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="electricity"
        title=(localize "anima.ui.combat.armors.at.electricity.base.title")
        inputName="system.electricity.base.value"
        inputValue=system.electricity.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="cold"
        title=(localize "anima.ui.combat.armors.at.cold.base.title")
        inputName="system.cold.base.value"
        inputValue=system.cold.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="energy"
        title=(localize "anima.ui.combat.armors.at.energy.base.title")
        inputName="system.energy.base.value"
        inputValue=system.energy.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="integrity"
        title=(localize "anima.ui.combat.armors.integrity.base.title")
        inputName="system.integrity.base.value"
        inputValue=system.integrity.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="presence"
        title=(localize "anima.ui.combat.armors.presence.base.title")
        inputName="system.presence.base.value"
        inputValue=system.presence.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="wear-armor-requirement"
        title=(localize "anima.ui.combat.armors.wearArmorRequirement.base.title")
        inputName="system.wearArmorRequirement.base.value"
        inputValue=system.wearArmorRequirement.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="base-movement-restriction"
        title=(localize "anima.ui.combat.armors.movementRestriction.base.title")
        inputName="system.movementRestriction.base.value"
        inputValue=system.movementRestriction.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="base-natural-penalty"
        title=(localize "anima.ui.combat.armors.naturalPenalty.base.title")
        inputName="system.naturalPenalty.base.value"
        inputValue=system.naturalPenalty.base.value
      }}
      {{>
      "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
        class="is-enchanted"
        title=(localize "anima.ui.combat.armors.isEnchanted.title")
        inputType="checkbox"
        inputName="system.isEnchanted.value"
        inputValue=system.isEnchanted.value
      }}
      {{>
      'systems/animabf/templates/common/domain/armor/select-armor-type.hbs'
        class="type"
        title=(localize "anima.ui.combat.armors.type.title")
        inputName="system.type.value"
        inputValue=system.type.value
      }}
      {{>
      'systems/animabf/templates/common/domain/armor/select-armor-localization.hbs'
        class="localization"
        title=(localize "anima.ui.combat.armors.localization.title")
        inputName="system.localization.value"
        inputValue=system.localization.value
      }}
    {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
{{/"systems/animabf/templates/items/base/base-sheet.hbs"}}
