{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="advancedSettings"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.settings.advancedSettings.title")
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="advancedSettings"
  }}
    {{>
      "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="doubles"
        title= (localize "anima.ui.settings.advancedSettings.doubles")
        inputType="checkbox"
        inputName="system.general.settings.openOnDoubles.value"
        inputValue=system.general.settings.openOnDoubles.value
      }}
    {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      class="openRolls"
      title=(localize "anima.ui.settings.advancedSettings.openRolls.title")
      inputName="system.general.settings.openRolls.value"
      inputValue= system.general.settings.openRolls.value
    }}
    {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      class="fumbles"
      title=(localize "anima.ui.settings.advancedSettings.fumbles.title")
      inputName="system.general.settings.fumbles.value"
      inputValue= system.general.settings.fumbles.value
    }}
    {{#if canModifyDice}}
    {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
      class="die"
      inputType="text"
      title=(localize "anima.ui.settings.advancedSettings.characteristicDie.title")
      inputName="system.general.diceSettings.characteristicDie.value"
      inputValue= system.general.diceSettings.characteristicDie.value
    }}
      {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="die"
        inputType="text"
        title=(localize "anima.ui.settings.advancedSettings.initiativeDie.title")
        inputName="system.general.diceSettings.initiativeDie.value"
        inputValue= system.general.diceSettings.initiativeDie.value
      }}
      {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="die"
        inputType="text"
        title=(localize "anima.ui.settings.advancedSettings.resistanceDie.title")
        inputName="system.general.diceSettings.resistanceDie.value"
        inputValue= system.general.diceSettings.resistanceDie.value
      }}
      {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="die"
        inputType="text"
        title=(localize "anima.ui.settings.advancedSettings.abilityDie.title")
        inputName="system.general.diceSettings.abilityDie.value"
        inputValue= system.general.diceSettings.abilityDie.value
      }}
      {{> "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
        class="die"
        inputType="text"
        title=(localize "anima.ui.settings.advancedSettings.abilityMasteryDie.title")
        inputName="system.general.diceSettings.abilityMasteryDie.value"
        inputValue= system.general.diceSettings.abilityMasteryDie.value
      }}
    {{/if}}
    <div>
      {{#> 'systems/animabf/templates/common/ui/custom-select.hbs'
        class="defenseType"
        title=(localize "anima.ui.settings.advancedSettings.defenseType.title")
        inputName="system.general.settings.defenseType.value"
        inputValue= system.general.settings.defenseType.value
      }}
          <option {{#if (is "eq" this.inputValue '')}} selected{{/if}} value=''>{{localize 'anima.ui.settings.advancedSettings.defenseType.normal.title'}}</option>
          <option {{#if (is "eq" this.inputValue 'resistance')}} selected{{/if}} value='resistance'>{{localize 'anima.ui.settings.advancedSettings.defenseType.damageResistance.title'}}</option>
          <option {{#if (is "eq" this.inputValue 'mass')}} selected{{/if}} value='mass'>{{localize 'anima.ui.settings.advancedSettings.defenseType.mass.title'}}</option>
      {{/'systems/animabf/templates/common/ui/custom-select.hbs'}}
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
