<div>
    <table class="Acus">
        <tr>
            <th></th>
            <th>Acu.</th>
            <th>Ki</th>
            <th>Actual</th>
        </tr>
        <tr>
            <td>Fue</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Agi</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Des</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Con</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Vol</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Pod</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Generico</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
            <td>Placeholder</td>
        </tr>
    
    
    </table>
</div>

<div>
    <table class="Sellos">
        <th>Sellos de Invocación</th>
    
        <tr>
            <th></th>
            <th>Menor</th>
            <th>Mayor</th>
        </tr>
        <tr>
            <td>Madera</td>
            <td>            
                <input type="checkbox" id="cbMaderaMenor" value="true"> 
            </td>
            <td>            
                <input type="checkbox" id="cbMaderaMayor" value="true"> 
            </td>
        </tr>
        <tr>
            <td>Metal</td>
            <td>            
                <input type="checkbox" id="cbMetalMenor" value="true"> 
            </td>
            <td>            
                <input type="checkbox" id="cbMetalMayor" value="true"> 
            </td>
        </tr>
        <tr>
            <td>Aire</td>
            <td>            
                <input type="checkbox" id="cbAireMenor" value="true"> 
            </td>
            <td>            
                <input type="checkbox" id="cbAireMayor" value="true"> 
            </td>
        </tr>
    
        <tr>
            <td>Agua</td>
            <td>            
                <input type="checkbox" id="cbAguaMenor" value="true"> 
            </td>
            <td>            
                <input type="checkbox" id="cbAguaMayor" value="true"> 
            </td>
        </tr>
        
        <tr>
            <td>Fuego</td>
            <td>            
                <input type="checkbox" id="cbFuegoMenor" value="true"> 
            </td>
            <td>            
                <input type="checkbox" id="cbFuegoMayor" value="true"> 
            </td>
        </tr>
    
    </table>
</div>

<div>
    <form>
        <input type="text" value="Nombre Tecnica">
        <table Class="tecnicas" >
    
            <tr>
                <th>FUE</th>
                <th>AGI</th>
                <th>DES</th>
                <th>CON</th>
                <th>VOL</th>
                <th>POD</th>
            </tr>
            <tr>
                <td>
                    <input type="text" value="0" style="width: 50px ;">
                </td>
                <td>
                    <input type="text" value="0" style="width: 50px ;">
                </td>
                <td>
                    <input type="text" value="0" style="width: 50px ;">
                </td>
                <td>
                    <input type="text" value="0" style="width: 50px ;">
                </td>
                <td>
                    <input type="text" value="0" style="width: 50px ;">
                </td>
                <td>
                    <input type="text" value="0" style="width: 50px ;"> 
                </td>
            </tr>
    
            
        </table>
        <textarea id="w3review" name="w3review" rows="2" cols="44">
            Efectos
        </textarea>
    </form>
    <button>Añadir tecnica</button>
</div>

<div>
    <ul id="KiUL">
        <li><span class="caret">
            <input type="checkbox" id="cbox2" value="second_checkbox"> 
            <label for="cbox2">Uso del Ki</label></span>
          <ul class="nested">
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Control del Ki</label></span>
              <ul class="nested">
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Detección del Ki</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Erudición</label>
                    </li>
                  </ul>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Aura de combate</label>
                </li>
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Dominio físico</label></span>
                  <ul class="nested">
                    <li><span class="caret">
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Cambio físico</label></span>
                      <ul class="nested">
                        <li>
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Camibo superior</label>
                        </li>
                      </ul>
                    </li>
                    <li><span class="caret">
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Multiplicación de cuerpos</label></span>
                      <ul class="nested">
                        <li><span class="caret">
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Multiplicación mayor</label></span>
                          <ul class="nested">
                            <li>
                                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                                <label for="cbox2">Multiplicación arcana</label>
                            </li>
                          </ul>
                        </li>
                        <li><span class="caret">
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Magnitud</label></span>
                          <ul class="nested">
                            <li>
                                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                                <label for="cbox2">Magnitud arcana</label>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    
                  </ul>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Imitación de tecnicas</label>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Forzar tecnicas</label>
                </li>
              </ul>
            </li>
    
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Eliminación de peso</label></span>
              <ul class="nested">
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Levitación</label></span>
                  <ul class="nested">
                    <li><span class="caret">
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Movimiento de objetos</label></span>
                      <ul class="nested">
                        <li>
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Movimiento de masas</label>
                        </li>
                      </ul>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Vuelo</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Extrusión de presencia</label></span>
              <ul class="nested">
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Armadura de energía</label></span>
                  <ul class="nested">
                    <li><span class="caret">
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Armadura mayor</label></span>
                      <ul class="nested">
                        <li><span class="caret">
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Armadura arcana</label></span>
                          <ul class="nested">
                            
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Extrusión del aura al arma</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Ataque elemental</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Daño incrementado</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Alcance incrementado</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Velocidad incrementada</label>
                    </li>
                  </ul>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Destrucción por Ki</label>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Absorción de energía</label>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Escudo físico</label>
                </li>
              </ul>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Transmisión del ki</label></span>
              <ul class="nested">
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Curación por Ki</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Curación superior</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Estabilizar</label>
                    </li>
                  </ul>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Sacrificio vital</label>
                </li>
              </ul>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Uso de la energía necesaria</label></span>
              <ul class="nested">
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Ocultación del Ki</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Aura de ocultación</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Falsa muerte</label>
                    </li>
                  </ul>
                </li>
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Eliminación de necesidades</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Inmunidad elemental: fuego</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Inmunidad elemental: fío</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Inmunidad elemental: electricidad</label>
                    </li>
                  </ul>
                </li>
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Eliminación de penalizadores</label></span>
                  <ul class="nested">
                    <li><span class="caret">
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Recuperación</label></span>
                      <ul class="nested">
                        <li>
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Restituir a otros</label>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Aumento de características</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Incremento superior</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Tecnicas de combate improvisadas</label>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Inhumanidad</label></span>
              <ul class="nested">
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Zen</label>
                </li>
              </ul>
            </li>
          </ul>
        </li>
    </ul>
</div>

<div>
    <ul id="NemesisUl">
        <li><span class="caret">
            <input type="checkbox" id="cbox2" value="second_checkbox"> 
            <label for="cbox2">Uso del Nemesis</label></span>
          <ul class="nested">
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Armadura de vacío</label></span>
              <ul class="nested">
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Noth</label>
                </li>
              </ul>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Anulación de Ki</label></span>
              <ul class="nested">
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Anulación de Ki mayor</label>
                </li>
              </ul>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Anulación de magia</label></span>
              <ul class="nested">
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Anulación de magia mayor</label>
                </li>
              </ul>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Anulación de matrices</label></span>
              <ul class="nested">
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Anulación de matrices mayor</label>
                </li>
              </ul>
            </li>
            <li>
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Anulación de lazos</label>
            </li>
            <li><span class="caret">
                <input type="checkbox" id="cbox2" value="second_checkbox"> 
                <label for="cbox2">Extrusión de vacío</label></span>
              <ul class="nested">
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Forma de vacío</label>
                </li>
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Cuerpo de vacío</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Sin necesidades</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Movimiento de vacío</label>
                    </li>
                    <li><span class="caret">
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Esencia de vacío</label></span>
                      <ul class="nested">
                        <li>
                            <input type="checkbox" id="cbox2" value="second_checkbox"> 
                            <label for="cbox2">Uno con la nada</label>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Aura de vacío</label>
                </li>
                <li>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Indetección</label>
                </li>
                
                <li><span class="caret">
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2">Inhumanidad</label></span>
                  <ul class="nested">
                    <li>
                        <input type="checkbox" id="cbox2" value="second_checkbox"> 
                        <label for="cbox2">Zen</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
    </ul>
</div>

