<div class="combat">

    <div class="base-values-special-abilities-tables-ammunition">
        <!-- Bloque Valores base, tablas, etc -->
        <div class="base-values group">
            <h3 class="text text-box">Valores base</h3>
            <div>
                <label for="data.combat.attack.value" class="rollable" data-roll="1d100xa+@combat.attack.value"
                    data-label="attack">
                    {{localize "anima.attack"}}
                </label>
                <input type="text" name="data.combat.attack.value" class="input_value"
                    value="{{data.combat.attack.value}}" data-dtype="Number" />
            </div>
            <div>
                <label for="data.combat.block.value" class="rollable" data-roll="1d100xa+@combat.block.value"
                    data-label="block">
                    {{localize "anima.block"}}
                </label>
                <input type="text" name="data.combat.block.value" class="input_value"
                    value="{{data.combat.block.value}}" data-dtype="Number" />
            </div>
            <div>
                <label for="data.combat.dodge.value" class="rollable" data-roll="1d100xa+@combat.dodge.value"
                    data-label="dodge">
                    {{localize "anima.dodge"}}
                </label>
                <input type="text" name="data.combat.dodge.value" class="input_value"
                    value="{{data.combat.dodge.value}}" data-dtype="Number" />
            </div>
        </div>
        <div class="special-abilities group">
            <h3 class="text text-box">Hab. especiales</h3>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
            </div>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
            </div>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
            </div>
        </div>
        <div class="tables group">
            <h3 class="text text-box">Tablas de Combate</h3>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
            </div>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
            </div>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
            </div>
        </div>
        <div class="ammunition group">
            <h3 class="text-box">Munición</h3>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
                <input type="text" class="input_value" data-dtype="value" />
            </div>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
                <input type="text" class="input_value" data-dtype="value" />
            </div>
            <div>
                <input type="text" class="input_text" data-dtype="text" />
                <input type="text" class="input_value" data-dtype="value" />
            </div>
        </div>

    </div>
    <!-- Bloque armas -->
    <div>
        <div class="weapon">
            <div class="label-text flexrow">
                <input type="text" class="text-weapon text" data-dtype="text" placeholder="Nombre del arma" />
                <span class="text title">{{localize "anima.attack"}}</span>
                <span class="text title">{{localize "anima.block"}}</span>
                <span class="text title">{{localize "anima.baseDamage"}}</span>
                <span class="text title">{{localize "anima.speed"}}</span>
                <span class="text title">{{localize "anima.damageType"}}</span>
                <span class="text title">Critico 2</span>
            </div>
            <div class="weapon-values-grid">
                <div class="esp-ent-rot">
                    <span>Esp.</span>
                    <input type="text" name="data.temp.cut.value" class="text" value="" data-dtype="string">
                    <span>Ent.</span>
                    <input type="text" name="data.temp.cut.value" class="text" value="" data-dtype="string">
                    <span>Rot.</span>
                    <input type="text" name="data.temp.cut.value" class="text" value="" data-dtype="string">
                </div>
                <div class="weapon-values">
                    <input type="Number" name="data.temp.cut.value" class="test" value="" data-dtype="Number">
                    <input type="Number" name="data.temp.cut.value" class="text" value="" data-dtype="Number">
                    <input type="Number" name="data.temp.cut.value" class="text" value="" data-dtype="Number">
                    <input type="Number" name="data.temp.cut.value" class="text" value="" data-dtype="Number">
                    <input type="text" name="data.temp.cut.value" class="text margin-right-16" data-dtype="string">
                    <input type="text" name="data.temp.cut.value" class="text margin-right-0" data-dtype="string">
                </div>
            </div>
        </div>
        <div class="weapon">
            <div class="label-text flexrow">
                <input type="text" class="text-weapon text" data-dtype="text" placeholder="Nombre del arma" />
                <span class="text title">{{localize "anima.attack"}}</span>
                <span class="text title">{{localize "anima.block"}}</span>
                <span class="text title">{{localize "anima.baseDamage"}}</span>
                <span class="text title">{{localize "anima.speed"}}</span>
                <span class="text title">Critico 1</span>
                <span class="text title">Critico 2</span>
            </div>
            <div class="weapon-values-grid">
                <div class="esp-ent-rot">
                    <span>Esp.</span>
                    <input type="text" name="data.temp.cut.value" class="text" value="" data-dtype="string">
                    <span>Ent.</span>
                    <input type="text" name="data.temp.cut.value" class="text" value="" data-dtype="string">
                    <span>Rot.</span>
                    <input type="text" name="data.temp.cut.value" class="text" value="" data-dtype="string">
                </div>
                <div class="weapon-values">
                    <input type="Number" name="data.temp.cut.value" class="test" value="" data-dtype="Number">
                    <input type="Number" name="data.temp.cut.value" class="text" value="" data-dtype="Number">
                    <input type="Number" name="data.temp.cut.value" class="text" value="" data-dtype="Number">
                    <input type="Number" name="data.temp.cut.value" class="text" value="" data-dtype="Number">
                    <input type="text" name="data.temp.cut.value" class="text margin-right-16" data-dtype="string">
                    <input type="text" name="data.temp.cut.value" class="text margin-right-0" data-dtype="string">
                </div>
            </div>
        </div>

    </div>

</div>