<div>
    <table class="ACT" style="float: left;">
        <tr>
            <th>ACT</th>
        </tr>
        <tr>
            <td>Principal</td>
            <td>            
                <input type="Text" id="ACTPrincipal" value="true"> 
            </td>
        </tr>
        <tr>
            <td>Alternativo</td>
            <td>            
                <input type="Text" id="ACTMod" value="true"> 
            </td>
        </tr>
    
    </table>
</div>

<div>
    <table class="Convocatoria" style="float: right;">
        <tr>
            <th>Convocatoria</th>
        </tr>
        <tr>
            <td>Convocar</td>
            <td>            
                <input type="Text" id="Convocar" value="true"> 
            </td>
            <td>Dominación</td>
            <td>            
                <input type="Text" id="Dominar" value="true"> 
            </td>
        </tr>
        <tr>
            <td>Atadura</td>
            <td>            
                <input type="Text" id="Atar" value="true"> 
            </td>
            <td>Desconvocar</td>
            <td>            
                <input type="Text" id="Desconvocar" value="true"> 
            </td>
        </tr>
    
    </table>
</div>

<div>
    <table class="Proyec" style="float: left;">
        <tr>
            <th>Proyec. Mágica</th>
        </tr>
        <tr>
            <td>Final</td>
            <td>            
                <input type="Text" id="ProyecFinal" value="true"> 
            </td>
        </tr>
        <tr>Desequilibrio</tr>
        <tr>
            <td>Ofensiva</td>
            <td>            
                <input type="Text" id="ProyecOfen" value="true"> 
            </td>
            <td>Defensiva</td>
            <td>            
                <input type="Text" id="ProyecDef" value="true"> 
            </td>
        </tr>
    
    </table>
</div>

<div>
    <table class="Reg" style="float: left;">
        <tr>
            <th>Regen. Zeon</th>
        </tr>
        <tr>
            <td>Final</td>
            <td>            
                <input type="Text" id="RegenActual" value="true"> 
            </td>
            <td>            
                <input type="Text" id="RegenTotal" value="true"> 
            </td>
        </tr>
    
    </table>
</div>

<div>
    <table class="Innata" style="float: left;">
        <tr>
            <th>Magia Innata</th>
        </tr>
        <tr>
            <td>Principal</td>
            <td>            
                <input type="Text" id="InnataBase" value="true"> 
            </td>
        </tr>
        <tr>
            <td>Alternativo</td>
            <td>            
                <input type="Text" id="InnataMod" value="true"> 
            </td>
        </tr>
    
    </table>
</div>

<div>
    <table class="zeon" style="float: left;">
        <tr>
            <th>Zeon</th>
        </tr>
        <tr>
            <td>Final</td>
            <td>            
                <input type="Text" id="ZeonActual" value="true"> 
            </td>
            <td>            
                <input type="Text" id="ZeonTotal" value="true"> 
            </td>
        </tr>
    
    </table>
</div>
<div class="NivelEsferas">
    <div>Nivel de Esfera</div>
    <img src="assets/images/arbolmagia.png">
    <input type="text" id="Esencia" value="true">
    <label for="Esencia">Esencia</label>
    <input type="text" id="Agua" value="true">
    <label for="Agua">Agua</label>
    <input type="text" id="Tierra" value="true">
    <label for="Tierra">Tierra</label>
    <input type="text" id="Creación" value="true">
    <label for="Creación">Creación</label>
    <input type="text" id="Oscuridad" value="true">
    <label for="Oscuridad">Oscuridad</label>
    <input type="text" id="Nigromancia" value="true">
    <label for="Nigromancia">Nigromancia</label>
    <input type="text" id="Luz" value="true">
    <label for="Luz">Luz</label>
    <input type="text" id="Destrucción" value="true">
    <label for="Destrucción">Destrucción</label>
    <input type="text" id="Aire" value="true">
    <label for="Aire">Aire</label>
    <input type="text" id="Fuego" value="true">
    <label for="Fuego">Fuego</label>
    <input type="text" id="Ilusión" value="true">
    <label for="Ilusión">Ilusión</label>

    <input type="text" id="Total" value="true">
    <label for="Total">Total</label>
    <input type="text" id="Usado" value="true">
    <label for="Usado">Usado</label>
</div>

<div>
    <table class="LibresAccesos" style="float: right;">
        <tr>
            <th>Magia Innata</th>
            <th><input type="image" name="botondeenvio" src="assets/images/boton-plus.png" alt="+"></th>
        </tr>
        
        <tr>
            <th>Nivel</th>
            <th>Conjuro</th>
        </tr>

        <!--TODO iterable desde libresaccesos en el template-->
    
    </table>
</div>

<div>
    <table class="LibresAccesos" style="float: right;">
        <tr>
            <th>Magia Innata</th>
            <th><input type="image" name="botondeenvio" src="assets/images/boton-plus.png" alt="+"></th>
        </tr>
        
        <tr>
            <th>Nivel</th>
            <th>Conjuro</th>
        </tr>

        <!--TODO iterable desde libresaccesos en el template-->
    
    </table>
</div>

<div>
    <table class="CosteDiario" style="float: right;">
        <tr>
            <th>Coste Diario</th>
            <th><input type="image" name="botondeenvio" src="assets/images/boton-plus.png" alt="+"></th>
        </tr>
        
        <tr>
            <th>Conjuro/criatura</th>
            <th>Coste</th>
        </tr>

        <!--TODO iterable desde libresaccesos en el template-->
    
    </table>
</div>

<div>
    <table class="Seleccionados" style="float: right;">
        <tr>
            <th>Conjuros seleccionados</th>
            <th><input type="image" name="botondeenvio" src="assets/images/boton-plus.png" alt="+"></th>
        </tr>
        
        <tr>
            <th>Conjuro</th>
            <th>Coste</th> <!--Coste de selección del conjuro, eliminar si resuta demasiado complicado-->
        </tr>

        <!--TODO iterable desde libresaccesos en el template-->
    
    </table>
</div>

<div>
    <table class="invocaciones" style="float: right;">
        <tr>
            <th>Invocaciones</th>
            <th><input type="image" name="botondeenvio" src="assets/images/boton-plus.png" alt="+"></th>
        </tr>

        <!--TODO iterable desde libresaccesos en el template-->
            <!--Solo nombres-->
    
    </table>
</div>

<div>
    <table class="Metagaias" style="float: right;">
        <tr>
            <th>Metamagias</th>
            <th><input type="image" name="botondeenvio" src="assets/images/boton-plus.png" alt="+"></th>
        </tr>
        
        <tr>
            <th>Metamagia</th>
            <th>Grado</th>
        </tr>

        <!--TODO iterable desde libresaccesos en el template-->
    
    </table>
</div>

