<div>
  <table class="ACT" style="float: left">
    <tr>
      <th>ACT</th>
    </tr>
    <tr>
      <td>Principal</td>
      <td>
        <input
          type="Text"
          id="ACTPrincipal"
          name="data.mystic.magicAcummulation.value"
          value="{{data.mystic.magicAcummulation.value}}"
        />
      </td>
    </tr>
    <tr>
      <td>Alternativo</td>
      <td>
        <input
          type="Text"
          id="ACTMod"
          name="data.mystic.magicAcummulation.Alternative"
          value="{{data.mystic.magicAcummulation.Alternative}}"
        />
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="Convocatoria" style="float: right">
    <tr>
      <th>Convocatoria</th>
    </tr>
    <tr>
      <td>Convocar</td>
      <td>
        <input
          type="Text"
          id="Convocar"
          name="data.mystic.summoning.summon"
          value="{{data.mystic.summoning.summon}}"
        />
      </td>
      <td>Dominación</td>
      <td>
        <input
          type="Text"
          id="Dominar"
          name="data.mystic.summoning.control"
          value="{{data.mystic.summoning.control}}"
        />
      </td>
    </tr>
    <tr>
      <td>Atadura</td>
      <td>
        <input
          type="Text"
          id="Atar"
          name="data.mystic.summoning.bind"
          value="{{data.mystic.summoning.bind}}"
        />
      </td>
      <td>Desconvocar</td>
      <td>
        <input
          type="Text"
          id="Desconvocar"
          name="data.mystic.summoning.banish"
          value="{{data.mystic.summoning.banish}}"
        />
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="Proyec" style="float: left">
    <tr>
      <th>Proyec. Mágica</th>
    </tr>
    <tr>
      <td>Final</td>
      <td>
        <input
          type="Text"
          id="ProyecFinal"
          name="data.mystic.magicProjection.Base"
          value="{{data.mystic.magicProjection.Base}}"
        />
      </td>
    </tr>
    <tr>
      Desequilibrio
    </tr>
    <tr>
      <td>Ofensiva</td>
      <td>
        <input
          type="Text"
          id="ProyecOfen"
          name="data.mystic.magicProjection.offensive"
          value="{{data.mystic.magicProjection.offensive}}"
        />
      </td>
      <td>Defensiva</td>
      <td>
        <input
          type="Text"
          id="ProyecDef"
          name="data.mystic.magicProjection.defensive"
          value="{{data.mystic.magicProjection.defensive}}"
        />
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="Reg" style="float: left">
    <tr>
      <th>Regen. Zeon</th>
    </tr>
    <tr>
      <td>Final</td>
      <td>
        <input
          type="Text"
          id="RegenActual"
          name="data.mystic.magicRegeneration.value"
          value="{{data.mystic.magicRegeneration.value}}"
        />
      </td>
      <td>
        <input
          type="Text"
          id="RegenTotal"
          name="data.mystic.magicRegeneration.Total"
          value="{{data.mystic.magicRegeneration.Total}}"
        />
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="Innata" style="float: left">
    <tr>
      <th>Magia Innata</th>
    </tr>
    <tr>
      <td>Principal</td>
      <td>
        <input
          type="Text"
          id="InnataBase"
          name="data.mystic.InnerPotential.value"
          value="{{data.mystic.InnerPotential.value}}"
        />
      </td>
    </tr>
    <tr>
      <td>Alternativo</td>
      <td>
        <input
          type="Text"
          id="InnataMod"
          name="data.mystic.InnerPotential.Alternative"
          value="{{data.mystic.InnerPotential.Alternative}}"
        />
      </td>
    </tr>
  </table>
</div>

<div>
  <table class="zeon" style="float: left">
    <tr>
      <th>Zeon</th>
    </tr>
    <tr>
      <td>Final</td>
      <td>
        <input
          type="Text"
          id="ZeonActual"
          name="data.mystic.zeon.value"
          value="{{data.mystic.zeon.value}}"
        />
      </td>
      <td>
        <input
          type="Text"
          id="ZeonTotal"
          name="data.mystic.zeon.max"
          value="{{data.mystic.zeon.max}}"
        />
      </td>
    </tr>
  </table>
</div>
<div class="NivelEsferas">
  <div>Nivel de Esfera</div>
  <img src="\systems\animabf\assets\images\arbolmagia.png" />
  <input
    type="text"
    id="Esencia"
    name="data.mystic.magicLevel.Spheres.Essence.value"
    value="{{data.mystic.magicLevel.Spheres.Essence.value}}"
  />
  <label for="Esencia">Esencia</label>
  <input
    type="text"
    id="Agua"
    name="data.mystic.magicLevel.Spheres.water.value"
    value="{{data.mystic.magicLevel.Spheres.water.value}}"
  />
  <label for="Agua">Agua</label>
  <input
    type="text"
    id="Tierra"
    name="data.mystic.magicLevel.Spheres.Earth.value"
    value="{{data.mystic.magicLevel.Spheres.Earth.value}}"
  />
  <label for="Tierra">Tierra</label>
  <input
    type="text"
    id="Creación"
    name="data.mystic.magicLevel.Spheres.Creation.value"
    value="{{data.mystic.magicLevel.Spheres.Creation.value}}"
  />
  <label for="Creación">Creación</label>
  <input
    type="text"
    id="Oscuridad"
    name="data.mystic.magicLevel.Spheres.Darkness.value"
    value="{{data.mystic.magicLevel.Spheres.Darkness.value}}"
  />
  <label for="Oscuridad">Oscuridad</label>
  <input
    type="text"
    id="Nigromancia"
    name="data.mystic.magicLevel.Spheres.Necromancy.value"
    value="{{data.mystic.magicLevel.Spheres.Necromancy.value}}"
  />
  <label for="Nigromancia">Nigromancia</label>
  <input
    type="text"
    id="Luz"
    name="data.mystic.magicLevel.Spheres.Light.value"
    value="{{data.mystic.magicLevel.Spheres.Light.value}}"
  />
  <label for="Luz">Luz</label>
  <input
    type="text"
    id="Destrucción"
    name="data.mystic.magicLevel.Spheres.Destruction.value"
    value="{{data.mystic.magicLevel.Spheres.Destruction.value}}"
  />
  <label for="Destrucción">Destrucción</label>
  <input
    type="text"
    id="Aire"
    name="data.mystic.magicLevel.Spheres.Air.value"
    value="{{data.mystic.magicLevel.Spheres.Air.value}}"
  />
  <label for="Aire">Aire</label>
  <input
    type="text"
    id="Fuego"
    name="data.mystic.magicLevel.Spheres.Fire.value"
    value="{{data.mystic.magicLevel.Spheres.Fire.value}}"
  />
  <label for="Fuego">Fuego</label>
  <input
    type="text"
    id="Ilusión"
    name="data.mystic.magicLevel.Spheres.Ilusion.value"
    value="{{data.mystic.magicLevel.Spheres.Ilusion.value}}"
  />
  <label for="Ilusión">Ilusión</label>

  <input
    type="text"
    id="Total"
    name="data.mystic.magicLevel.Total.Total"
    value="{{data.mystic.magicLevel.Total.Total}}"
  />
  <label for="Total">Total</label>
  <input
    type="text"
    id="Usado"
    name="data.mystic.magicLevel.Total.use"
    value="{{data.mystic.magicLevel.Total.use}}"
  />
  <label for="Usado">Usado</label>
</div>

<div>
  <table class="LibresAccesos" style="float: right">
    <tr>
      <th>Libre acceso</th>
      <th>
        <img
          data-on-click="add-free-access-spell"
          src="\systems\animabf\assets\images\boton-plus.png"
          alt="+"
        />
      </th>
    </tr>

    <tr>
      <th>Nivel</th>
      <th>Conjuro</th>
    </tr>

    {{#each data.mystic.freeAccessSpells as |spell|}}

    <tr>
      <td>
        <input
          type="number"
          name="data.dynamic.freeAccessSpells.{{spell._id}}.data.level"
          class="input_value"
          value="{{spell.data.level}}"
        />
      </td>
      <td>
        <input
          type="text"
          name="data.dynamic.freeAccessSpells.{{spell._id}}.name"
          class="input_value"
          value="{{spell.name}}"
        />
      </td>
    </tr>

    {{else}}
    <tr>
      <td>Vacío</td>
    </tr>
    {{/each}}

  </table>
</div>

<!--<div>
  <table class="LibresAccesos" style="float: right">
    <tr>
      <th>Magia Innata</th>
      <th>
        <input
          type="image"
          name="botondeenvio"
          src="\systems\animabf\assets\images\boton-plus.png"
          alt="+"
        />
      </th>
    </tr>

    <tr>
      <th>Nivel</th>
      <th>Conjuro</th>
    </tr>

    {{#each data.mystic.freeAccessSpells as |spell|}}



    {{/each}}
    
  </table>
</div>
-->
<div>
  <table class="CosteDiario" style="float: right">
    <tr>
      <th>Coste Diario</th>
      <th>
        <input
          type="image"
          name="botondeenvio"
          data-on-click="add-maintenance"
          src="\systems\animabf\assets\images\boton-plus.png"
          alt="+"
        />
      </th>
    </tr>

    <tr>
      <th>Conjuro/criatura</th>
      <th>Coste</th>
    </tr>

   
    {{#each data.mystic.maintenances as |Maint|}}

        <tr>
      <td>
        <input
          type="text"
          name="data.dynamic.maintenances.{{Maint._id}}.name"
          class="input_value"
          value="{{Maint.name}}"
        />
      </td>
      <td>
        <input
          type="number"
          name="data.dynamic.maintenances.{{Maint._id}}.data.cost"
          class="input_value"
          value="{{Maint.data.cost}}"
        />
      </td>
    </tr>
    
    {{else}}
    <tr>
      <td>Vacío</td>
    </tr>
    {{/each}}
  </table>
</div>

<div>
  <table class="Seleccionados" style="float: right">
    <tr>
      <th>Conjuros seleccionados</th>
      <th>
        <input
          type="image"
          name="botondeenvio"
          data-on-click="add-selected"
          src="\systems\animabf\assets\images\boton-plus.png"
          alt="+"
        />
      </th>
    </tr>

    <tr>
      <th>Conjuro</th>
      <th>Coste</th>
      <!--Coste de selección del conjuro, eliminar si resuta demasiado complicado-->
    </tr>

    <!--TODO iterable desde libresaccesos en el template-->
    
    {{#each data.mystic.selected as |selected|}}

        <tr>
      <td>
        <input
          type="text"
          name="data.dynamic.selected.{{selected._id}}.name"
          class="input_value"
          value="{{selected.name}}"
        />
      </td>
      <td>
        <input
          type="number"
          name="data.dynamic.selected.{{selected._id}}.data.cost"
          class="input_value"
          value="{{selected.data.cost}}"
        />
      </td>
    </tr>
    
    {{else}}
    <tr>
      <td>Vacío</td>
    </tr>
    {{/each}}

    <!--TODO iterable desde libresaccesos en el template-->
    <!--Solo nombres-->
  </table>
</div>

<div>
  <table class="Metagaias" style="float: right">    <tr>
      <th>Metamagias</th>
      <th>
        <input
          type="image"
          name="botondeenvio"
          src="\systems\animabf\assets\images\boton-plus.png"
          alt="+"
        />
      </th>
    </tr>

    <tr>
      <th>Metamagia</th>
      <th>Grado</th>
    </tr>

    <!--TODO iterable desde libresaccesos en el template-->
  </table>
</div>
