<div class="ability">
    {{!-- Athletics --}}

    <div class="athletics group">
        <h3 class="text text-box">{{localize "anima.athleticAbilities"}}</h3>
        {{#each data.secondaries.athletics as |atr key|}}
        <div>
            <label for="data.secondaries.athletics.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.athletics.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.athletics.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Social --}}

    <div class="social group">
        <h3 class="text text-box">{{localize "anima.socialAbilities"}}</h3>
        {{#each data.secondaries.social as |atr key|}}
        <div>
            <label for="data.secondaries.social.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.social.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.social.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Perception --}}

    <div class="perception group">
        <h3 class="text text-box">{{localize "anima.perceptionAbilities"}}</h3>
        {{#each data.secondaries.perception as |atr key|}}
        <div>
            <label for="data.secondaries.perception.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.perception.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.perception.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Vigor --}}

    <div class="vigor group">
        <h3 class="text text-box">{{localize "anima.vigorAbilities"}}</h3>
        {{#each data.secondaries.vigor as |atr key|}}
        <div>
            <label for="data.secondaries.vigor.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.vigor.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.vigor.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Intellectual --}}

    <div class="intellectual group">
        <h3 class="text text-box">{{localize "anima.intellectualAbilities"}}</h3>
        {{#each data.secondaries.intellectual as |atr key|}}
        <div>
            <label for="data.secondaries.intellectual.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.intellectual.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.intellectual.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Subterfuge --}}

    <div class="subterfuge group">
        <h3 class="text text-box">{{localize "anima.subterfugeAbilities"}}</h3>
        {{#each data.secondaries.subterfuge as |atr key|}}
        <div>
            <label for="data.secondaries.subterfuge.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.subterfuge.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.subterfuge.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Creative --}}

    <div class="creative group">
        <h3 class="text text-box">{{localize "anima.creativeAbilities"}}</h3>
        {{#each data.secondaries.creative as |atr key|}}
        <div>
            <label for="data.secondaries.creative.{{key}}.value" class="rollable"
                data-roll="1d100xa+@secondaries.creative.{{key}}.value" data-label="{{key}}">
                {{localize (concat "anima." key)}}
            </label>
            <input type="text" name="data.secondaries.creative.{{key}}.value" class="input_value" value="{{atr.value}}" data-dtype="Number" />
        </div>
        {{/each}}
    </div>

    {{!-- Special --}} 

    <div class="special group">
        <div class="special-control">
            <h3 class="text">{{localize "anima.special"}}</h3>
            <a data-type="skill" class="skillcreate"><img src="\systems\animabf\assets\images\boton-plus.png"></a>
        </div>
        {{#each actor.skill as |skill id|}}
        <div class="skill-item item" data-item-id="{{skill._id}}">
            <label for="skill._id" class="rollable" data-field="name" 
                data-roll="1d100xa+@skill.data.value">
                {{skill.name}}
            </label>
            <input type="number" data-field="skill.data.value" class="input_value" value="{{skill.data.value}}" data-dtype="Number" />
            <a class="skill-controls"><i class="fas fa-trash skilldelete"></i></a>
        </div>
        {{/each}}
    </div>
</div>