<div class='group advantages mt-3'>
  <div class='group-header'>
    <img
      class='add-button'
      data-on-click='add-advantage'
      src='/systems/animabf/assets/images/boton-plus.png'
    />
    <h3 class='group-header-title'>Ventajas</h3>
  </div>
  <div id='advantage-context-menu-container' class='group-body'>
    {{#each data.general.advantages}}
      <div data-advantage-id='{{this._id}}' class='advantage-row'>
        <input
          name='data.dynamic.advantages.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  </div>
</div>