<div class='group aspect'>
  <div class='group-header'>
    <h3 class='group-header-title'>Aspecto</h3>
  </div>
  <div class='group-body'>
    <div class='hair flex mr-1'>
      <p class='label'>Pelo</p>
      <input type='text' class='input' />
    </div>
    <div class='eyes flex'>
      <p class='label'>Ojos</p>
      <input type='text' class='input' />
    </div>
    <div class='height flex mr-1'>
      <p class='label'>Altura</p>
      <input type='text' class='input' />
    </div>
    <div class='weight flex'>
      <p class='label'>Peso</p>
      <input type='text' class='input' />
    </div>
    <div class='age flex mr-1'>
      <p class='label'>Edad</p>
      <input type='text' class='input' />
    </div>
    <div class='genre flex'>
      <p class='label'>Sexo</p>
      <input type='text' class='input' />
    </div>
    <div class='race flex mr-1'>
      <p class='label'>Raza</p>
      <input type='text' class='input' />
    </div>
    <div class='appearance flex'>
      <p class='label'>Apariencia</p>
      <input type='text' class='input' />
    </div>
    <div class='size flex'>
      <p class='label'>Tamaño</p>
      <input type='text' class='input' />
    </div>
  </div>
</div>