<div class='group contacts mt-3'>
  <div class='group-header'>
    <img class='add-button' src='/systems/animabf/assets/images/boton-plus.png' />
    <p class='group-header-title'>Contactos</p>
  </div>
  <div class='group-body'>
    <div class='contacts-row flex'>
      <div class='contact-name flex flex-1 mr-3'>
        <p class='label'>Nombre</p>
        <textarea class='input' rows='2'></textarea>
      </div>
      <div class='contact-description flex flex-4'>
        <p class='label'>Descripción</p>
        <textarea class='input' rows='2'></textarea>
      </div>
    </div>
  </div>
</div>