<div class='group description mt-3'>
  <div class='group-header'>
    <h3 class='group-header-title'>{{localize 'anima.ui.descriptionSection.title'}}</h3>
  </div>
  <div class='group-body'>
    <textarea
      name='data.general.description.value'
      class='input'
    >{{data.general.description.value}}</textarea>
  </div>
</div>