<div class='group description mt-3'>
  <div class='group-header'>
    <p class='group-header-title'>Descripción</p>
  </div>
  <div class='group-body'>
    <textarea class='input'></textarea>
  </div>
</div>