<div class='group elan mt-3'>
  <div class='group-header'>
    <img class='add-button' src='/systems/animabf/assets/images/boton-plus.png' />
    <h3 class='group-header-title'>Elan</h3>
  </div>
  <div class='group-body'>
    <div class='elan-row'>
      <div class='base flex'>
        <p class='label gray mr-2 flex-1'>Potencia</p>
        <input type='text' class='input flex-3' />
        <p class='label gray ml-2 mr-2 flex-1'>Nv</p>
        <input type='text' class='input flex-2' />
      </div>

      <div class='powers flex mt-1'>
        <input type='text' class='input flex-4' />
        <input type='text' class='input flex-1' />
      </div>
    </div>
  </div>
</div>