<div class='group experience'>
  <div class='group-header'>
    <p class='group-header-title'>Experiencia</p>
  </div>
  <div class='group-body'>
    <div class='experience-bar'>
      <div class='current-experience' style='width: 20%;'></div>
    </div>
    <div class='experience-values flex mt-1'>
      <input type='text' class='input current-experience' />
      /
      <input type='text' class='input' />
    </div>
  </div>
</div>