<div class='group language mt-3'>
  <div class='group-header'>
    <img class='add-button' src='/systems/animabf/assets/images/boton-plus.png' />
    <p class='group-header-title'>Idiomas</p>
    <input type='number' class='input' />
  </div>
  <div class='group-body'>
    <div class='base-language flex'>
      <p class='label ml-2 mr-2'>Base</p>
      <input type='text' class='input' />
    </div>
    <div class='language-row'>
      <input type='text' class='input' />
    </div>
    <div class='language-row'>
      <input type='text' class='input' />
    </div>
    <div class='language-row'>
      <input type='text' class='input' />
    </div>
  </div>
</div>