<div class='group level'>
  <div class='group-header'>
    <img class='add-button' src='/systems/animabf/assets/images/boton-plus.png' />
    <p class='group-header-title'>Nivel</p>
    <input type='number' class='input' />
  </div>
  <div class='group-body'>
    <div class='level-row flex'>
      <input type='text' class='input' />
      <input type='text' class='input' />
    </div>
  </div>
</div>