<div class='group notes mt-3'>
  <div class='group-header'>
    <img class='add-button' src='/systems/animabf/assets/images/boton-plus.png' />
    <h3 class='group-header-title'>Notas</h3>
  </div>
  <div class='group-body'>
    <div class='notes-row'>
      <input type='text' class='input' />
    </div>
  </div>
</div>