<div class='group titles mt-3'>
  <div class='group-header'>
    <img class='add-button' src='/systems/animabf/assets/images/boton-plus.png' />
    <p class='group-header-title'>Títulos</p>
  </div>
  <div class='group-body'>
    <div class='titles-row'>
      <input type='text' class='input' />
    </div>
  </div>
</div>