{{#> "systems/animabf/templates/parts/common/group.hbs"
  class="techniques"
}}
  {{>
  "systems/animabf/templates/parts/common/group-header.hbs"
    title=(localize "anima.ui.domine.techniques.title")
    addRowButtonData="add-technique"
  }}
  {{#> "systems/animabf/templates/parts/common/group-body.hbs"
    class="techniques"
  }}
    {{#each data.data.domine.techniques as |technique|}}
      <div data-technique-id='{{technique._id}}' class='technique-row'>
        {{#> "systems/animabf/templates/parts/common/group.hbs"
          class="technique"
        }}
          {{#> "systems/animabf/templates/parts/common/group-header.hbs"}}
            <div class='technique-header'>
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="name"
                title=(localize "anima.ui.domine.techniques.technique.header.name.title")
                inputType="text"
                inputName=(concat "data.dynamic.techniques." technique._id ".name")
                inputValue=technique.name
              }}
            </div>
          {{/"systems/animabf/templates/parts/common/group-header.hbs"}}
          {{#> "systems/animabf/templates/parts/common/group-body.hbs"
            class="technique"
          }}
            <textarea
              class='input technique-description'
              name='{{concat "data.dynamic.techniques." technique._id ".description"}}'>{{technique.data.description.value}}</textarea>
          {{/"systems/animabf/templates/parts/common/group-body.hbs"}}
          {{#> "systems/animabf/templates/parts/common/group-footer.hbs"}}
            <div class='technique-footer'>
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="level"
                title=(localize "anima.ui.domine.techniques.technique.footer.level.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".level")
                inputValue=technique.data.level.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="strength"
                title=(localize "anima.ui.domine.techniques.technique.footer.strength.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".strength")
                inputValue=technique.data.strength.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="agility"
                title=(localize "anima.ui.domine.techniques.technique.footer.agility.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".agility")
                inputValue=technique.data.agility.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="dexterity"
                title=(localize "anima.ui.domine.techniques.technique.footer.dexterity.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".dexterity")
                inputValue=technique.data.dexterity.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="constitution"
                title=(localize "anima.ui.domine.techniques.technique.footer.constitution.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".constitution")
                inputValue=technique.data.constitution.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="willPower"
                title=(localize "anima.ui.domine.techniques.technique.footer.willPower.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".willPower")
                inputValue=technique.data.willPower.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="power"
                title=(localize "anima.ui.domine.techniques.technique.footer.power.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".power")
                inputValue=technique.data.power.value
              }}
              {{>
              "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
                class="martial-knowledge"
                title=(localize "anima.ui.domine.techniques.technique.footer.martialKnowledge.title")
                inputType='text'
                inputName=(concat "data.dynamic.techniques." technique._id ".martialKnowledge")
                inputValue=technique.data.martialKnowledge.value
              }}
            </div>
          {{/"systems/animabf/templates/parts/common/group-footer.hbs"}}
        {{/"systems/animabf/templates/parts/common/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/parts/common/group-body.hbs"}}
{{/"systems/animabf/templates/parts/common/group.hbs"}}