<div class='group disadvantages mt-3'>
  <div class='group-header'>
    <img
      class='add-button'
      data-on-click='add-disadvantage'
      src='/systems/animabf/assets/images/boton-plus.png'
    />
    <h3 class='group-header-title'>{{localize 'anima.ui.disadvantageSection.title'}}</h3>
  </div>
  <div id='disadvantage-context-menu-container' class='group-body'>
    {{#each data.data.general.disadvantages}}
      <div data-disadvantage-id='{{this._id}}' class='disadvantage-row'>
        <input
          name='data.dynamic.disadvantages.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  </div>
</div>