<div class='group experience'>
  <div class='group-header'>
    <h3 class='group-header-title'>{{localize 'anima.ui.experienceSection.title'}}</h3>
  </div>
  <div class='group-body'>
    <div class='experience-bar'>
      <div
        class='current-experience'
        style='width: {{calculateExperience data.data.general.experience.current.value data.data.general.experience.next.value }}%;'
      ></div>
    </div>
    <div class='experience-values flex mt-1'>
      <input
        name='data.general.experience.current.value'
        type='number'
        class='input current-experience {{#is "gte" data.data.general.experience.current.value data.data.general.experience.next.value }}red{{/is}}'
        value='{{data.data.general.experience.current.value}}'
      />
      /
      <input
        name='data.general.experience.next.value'
        type='number'
        class='input next-experience'
        value='{{data.data.general.experience.next.value}}'
      />
    </div>
  </div>
</div>