{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="ammo"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.ammo.title")
    addRowButtonData="add-ammo"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="ammo"
  }}
    {{#each data.data.combat.ammo}}
      <div data-item-id='{{this._id}}' class='ammo-row'>
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.combat.ammo.name.title")
          hideTitle=(is "gt" @index 0)
          inputType="text"
          inputName=(concat "data.dynamic.ammo." this._id ".name")
          inputValue=this.name
        }}
        {{>
        'systems/animabf/templates/common/domain/select-quality.hbs'
          class="quality"
          title=(localize "anima.ui.combat.ammo.quality.title")
          hideTitle=(is "gt" @index 0)
          isVertical=true
          inputName=(concat "data.dynamic.ammo." this._id ".data.quality.value")
          inputValue=this.data.quality.value
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="presence"
          title=(localize "anima.ui.combat.ammo.presence.title")
          hideTitle=(is "gt" @index 0)
          disabled=true
          inputName=(concat "data.dynamic.ammo." this._id ".data.presence.final.value")
          inputValue=this.data.presence.final.value
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="damage"
          title=(localize "anima.ui.combat.ammo.damage.title")
          hideTitle=(is "gt" @index 0)
          disabled=true
          inputName=(concat "data.dynamic.ammo." this._id ".data.damage.final.value")
          inputValue=this.data.damage.final.value
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="breaking"
          title=(localize "anima.ui.combat.ammo.breaking.title")
          hideTitle=(is "gt" @index 0)
          disabled=true
          inputName=(concat "data.dynamic.ammo." this._id ".data.breaking.final.value")
          inputValue=this.data.breaking.final.value
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="integrity"
          title=(localize "anima.ui.combat.ammo.integrity.title")
          hideTitle=(is "gt" @index 0)
          disabled=true
          inputName=(concat "data.dynamic.ammo." this._id ".data.integrity.final.value")
          inputValue=this.data.integrity.final.value
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="amount"
          title=(localize "anima.ui.combat.ammo.amount.title")
          hideTitle=(is "gt" @index 0)
          inputName=(concat "data.dynamic.ammo." this._id ".data.amount.value")
          inputValue=this.data.amount.value
        }}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}