{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="armors"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.armors.title")
    addRowButtonData="add-armor"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="armors"
  }}
    {{#each system.combat.armors as |armor|}}
      <div data-item-id='{{armor._id}}' class='armor-row'>
        {{#> "systems/animabf/templates/common/ui/group.hbs"
          class="armor"
          contractible=true
          contractibleItemId=armor._id
        }}
          {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
            <div class='armor-header'>
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="name"
                inputType="text"
                inputName=(concat "system.dynamic.armors." armor._id ".name")
                inputValue=armor.name
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-body.hbs"
            class="armor"
          }}
            {{>
            'systems/animabf/templates/common/domain/select-quality.hbs'
              class="quality"
              isVertical=true
              title=(localize "anima.ui.combat.armors.quality.title")
              inputName=(concat "system.dynamic.armors." armor._id ".system.quality.value")
              inputValue=armor.system.quality.value
              dtype="Number"
            }}
            {{>
            "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
              class="integrity"
              title=(localize "anima.ui.combat.armors.integrity.title")
              disabled=true
              inputName=(concat "system.dynamic.armors." armor._id ".system.integrity.final.value")
              inputValue=armor.system.integrity.final.value
            }}
            {{>
            "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
              class="final-movement-restriction"
              title=(localize "anima.ui.combat.armors.movementRestriction.final.title")
              disabled=true
              inputName=(concat "system.dynamic.armors." armor._id ".system.movementRestriction.final.value")
              inputValue=armor.system.movementRestriction.final.value
            }}
            {{>
            "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
              class="presence"
              title=(localize "anima.ui.combat.armors.presence.title")
              disabled=true
              inputName=(concat "system.dynamic.armors." armor._id ".system.presence.final.value")
              inputValue=armor.system.presence.final.value
            }}
            {{#if (is 'eq' armor.system.localization.value 'head')}}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="final-natural-penalty"
                title=(localize "anima.ui.combat.armors.perceptionPenalty.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.perceptionPenalty.final.value")
                inputValue=armor.system.perceptionPenalty.final.value
              }}
            {{else}}
              {{>
                "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                  class="final-natural-penalty"
                  title=(localize "anima.ui.combat.armors.naturalPenalty.title")
                  disabled=true
                  inputName=(concat "system.dynamic.armors." armor._id ".system.naturalPenalty.final.value")
                  inputValue=armor.system.naturalPenalty.final.value
                }}
            {{/if}} 
          {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-footer.hbs"}}
            <div class='armor-footer'>
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="equipped"
                title=(localize "anima.ui.combat.armors.equipped.title")
                inputType="checkbox"
                inputName=(concat "system.dynamic.armors." armor._id ".system.equipped.value")
                inputValue=(is 'eq' armor.system.equipped.value true)
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="cut"
                title=(localize "anima.ui.combat.armors.at.cut.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.cut.final.value")
                inputValue=armor.system.cut.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="impact"
                title=(localize "anima.ui.combat.armors.at.impact.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.impact.final.value")
                inputValue=armor.system.impact.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="thrust"
                title=(localize "anima.ui.combat.armors.at.thrust.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.thrust.final.value")
                inputValue=armor.system.thrust.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="heat"
                title=(localize "anima.ui.combat.armors.at.heat.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.heat.final.value")
                inputValue=armor.system.heat.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="electricity"
                title=(localize "anima.ui.combat.armors.at.electricity.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.electricity.final.value")
                inputValue=armor.system.electricity.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="cold"
                title=(localize "anima.ui.combat.armors.at.cold.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.cold.final.value")
                inputValue=armor.system.cold.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="energy"
                title=(localize "anima.ui.combat.armors.at.energy.title")
                disabled=true
                inputName=(concat "system.dynamic.armors." armor._id ".system.energy.final.value")
                inputValue=armor.system.energy.final.value
              }}
              {{{injectFromHook "animabf.actor.combat.armor.footer" armor._id}}}
            </div>
          {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
