{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="combat-special-skills"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.combatSpecialSkill.title")
    addRowButtonData="add-combat-special-skill"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="combat-special-skills"
  }}
    {{#each data.data.combat.combatSpecialSkills}}
      <div data-item-id='{{this._id}}' class='combat-special-skill-row'>
        <input
          name='data.dynamic.combatSpecialSkills.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}