{{#> "systems/abf/templates/common/ui/group.hbs"
  class="combat-tables"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.combatTables.title")
    addRowButtonData="add-combat-table"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="combat-tables"
  }}
    {{#each system.combat.combatTables as |combatTable|}}
      <div data-item-id='{{combatTable._id}}' class='combat-table-row'>
        <input
          name='system.dynamic.combatTables.{{combatTable._id}}.name'
          type='text'
          class='input'
          value='{{combatTable.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
