{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="weapons"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.weapons.title")
    addRowButtonData="add-weapon"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="weapons"
  }}
    {{#each data.data.combat.weapons}}
      <div data-item-id='{{this._id}}' class='weapon-row'>
        {{#> "systems/animabf/templates/common/ui/group.hbs"
          class="weapon"
          contractible=true
          contractibleItemId=this._id
        }}
          {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
            <div class='weapon-header'>
              {{>
              "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                class="name"
                hideTitle=true
                inputType="text"
                inputName=(concat "data.dynamic.weapons." this._id ".name")
                inputValue=this.name
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-body.hbs"
            class="weapon"
          }}
            {{#if (or (is 'eq' this.data.isRanged.value false) (is 'eq' this.data.shotType.value 'throw'))}}
              {{>
              'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                class="critic-secondary"
                isVertical=true
                disabled=true
                choices=xRoot.config.iterables.combat.weapon.criticTypesWithNone
                title=(localize "anima.ui.combat.weapons.critic.secondary.title")
                inputName=(concat "data.dynamic.weapons." this._id ".data.critic.secondary.value")
                inputValue=this.data.critic.secondary.value
              }}
            {{/if}}
            {{> 'systems/animabf/templates/common/domain/select-quality.hbs'
              class="quality"
              isVertical=true
              title=(localize "anima.ui.combat.weapons.quality.title")
              inputName=(concat "data.dynamic.weapons." this._id ".data.quality.value")
              inputValue=this.data.quality.value
            }}
            {{>
            "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
              class="integrity"
              rollable=true
              disabled=true
              title=(localize "anima.ui.combat.weapons.integrity.final.title")
              inputName=(concat "data.dynamic.weapons." this._id ".data.integrity.final.value")
              inputValue=this.data.integrity.final.value
            }}
            {{>
            "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
              class="breaking"
              rollable=true
              disabled=true
              title=(localize "anima.ui.combat.weapons.breaking.final.title")
              inputName=(concat "data.dynamic.weapons." this._id ".data.breaking.final.value")
              inputValue=this.data.breaking.final.value
            }}
            {{>
            "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
              class="presence"
              rollable=true
              disabled=true
              title=(localize "anima.ui.combat.weapons.presence.final.title")
              inputName=(concat "data.dynamic.weapons." this._id ".data.presence.final.value")
              inputValue=this.data.presence.final.value
            }}
            {{#if (is 'eq' this.data.isRanged.value true)}}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="range"
                disabled=true
                title=(localize "anima.ui.combat.weapons.range.final.title")
                inputName=(concat "data.dynamic.weapons." this._id ".data.range.final.value")
                inputValue=this.data.range.final.value
              }}
              {{#if (is 'eq' this.data.shotType.value 'shot')}}
                {{>
                'systems/animabf/templates/common/ui/vertical-titled-input.hbs'
                  class="reload"
                  disabled=true
                  title=(localize "anima.ui.combat.weapons.reload.final.title")
                  inputName=(concat "data.dynamic.weapons." this._id ".data.reload.final.value")
                  inputValue=this.data.reload.final.value
                }}
                {{>
                'systems/animabf/templates/common/domain/weapon/select-ammo.hbs'
                  class="ammo"
                  isVertical=true
                  title=(localize "anima.ui.combat.weapons.ammo.title")
                  ammo=xRoot.data.data.combat.ammo
                  inputName=(concat "data.dynamic.weapons." this._id ".data.ammoId")
                  inputValue=this.data.ammoId
                }}
              {{/if}}
            {{/if}}
            {{> 'systems/animabf/templates/common/domain/weapon/knowledge-type.hbs'
              class="knowledge-type"
              title=(localize "anima.ui.combat.weapons.knowledgeType.title")
              inputName=(concat "data.dynamic.weapons." this._id ".data.knowledgeType.value")
              inputValue=this.data.knowledgeType.value
            }}
          {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-footer.hbs"}}
            <div class='weapon-footer'>
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="equipped"
                title=(localize "anima.ui.combat.weapons.equipped.title")
                inputType="checkbox"
                inputName=(concat "data.dynamic.weapons." this._id ".data.equipped.value")
                inputValue=(is 'eq' this.data.equipped.value true)
              }}
              {{>
              'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                class="critic-primary"
                isVertical=true
                disabled=true
                title=(localize "anima.ui.combat.weapons.critic.primary.title")
                choices=xRoot.config.iterables.combat.weapon.criticTypes
                inputName=(concat "data.dynamic.weapons." this._id ".data.critic.primary.value")
                inputValue=this.data.critic.primary.value
              }}
              {{#if (is 'eq' this.data.manageabilityType.value 'one_or_two_hands')}}
                {{>
                "systems/animabf/templates/common/domain/weapon/one-or-two-handed.hbs"
                  class="one-or-two-handed"
                  title=(localize "anima.ui.combat.weapons.oneOrTwoHanded.title")
                  inputName=(concat "data.dynamic.weapons." this._id ".data.oneOrTwoHanded.value")
                  inputValue=this.data.oneOrTwoHanded.value
                }}
              {{/if}}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="attack"
                title=(localize "anima.ui.combat.weapons.attack.title")
                rollableMessage=(concat (localize "anima.ui.combat.weapons.attack.roll.message") this.name)
                inputName=(concat "data.dynamic.weapons." this._id ".data.attack.special.value")
                inputValue=this.data.attack.special.value
                rollable=true
                rollSecondaryInput=true
                hasSecondaryInput=true
                addTooltips=true
                disableSecondaryInput=true
                secondaryInputValue=this.data.attack.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="block"
                title=(localize "anima.ui.combat.weapons.block.title")
                rollableMessage=(concat (localize "anima.ui.combat.weapons.block.roll.message") this.name)
                inputName=(concat "data.dynamic.weapons." this._id ".data.block.special.value")
                inputValue=this.data.block.special.value
                rollable=true
                rollSecondaryInput=true
                hasSecondaryInput=true
                addTooltips=true
                disableSecondaryInput=true
                secondaryInputValue=this.data.block.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="damage"
                disabled=true
                title=(localize "anima.ui.combat.weapons.damage.final.title")
                inputName=(concat "data.dynamic.weapons." this._id ".data.damage.final.value")
                inputValue=this.data.damage.final.value
              }}
              {{>
              "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
                class="initiative"
                rollable=true
                disabled=true
                title=(localize "anima.ui.combat.weapons.initiative.final.title")
                inputName=(concat "data.dynamic.weapons." this._id ".data.initiative.final.value")
                inputValue=this.data.initiative.final.value
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}