<div class='effects'>
  <section class='effects-body'>
    <div>
      {{> "systems/animabf/templates/actor/parts/effects/parts/effects-list.hbs"}}
    </div>
    <div>
      {{> "systems/animabf/templates/actor/parts/effects/parts/external-effects-list.hbs"}}
    </div>
    <div>
      {{> "systems/animabf/templates/actor/parts/effects/parts/custom-attributes.hbs"}}
    </div>
  </section>
</div>
