{{#> "systems/animabf/templates/parts/common/group.hbs"
  class="common-resources"
}}
  {{#> "systems/animabf/templates/parts/common/group-body.hbs"
    class="common-resources"
  }}
    <div class='life'>
      {{>
      "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
        class="max-life"
        title=(localize 'anima.ui.general.life.max.title')
        inputName="data.characteristics.secondaries.lifePoints.max"
        inputValue=data.data.characteristics.secondaries.lifePoints.max
      }}
      {{>
      "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
        class="current-life"
        title=(localize 'anima.ui.general.life.current.title')
        inputName="data.characteristics.secondaries.lifePoints.value"
        inputValue=data.data.characteristics.secondaries.lifePoints.value
      }}
    </div>
    <div class='initiative'>
      <h4 class='initiative-title'>{{localize 'anima.ui.general.initiative.title'}}</h4>
      <div class='initiative-values'>
        {{>
        "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
          class="initiative-base"
          rollable=true
          title=(localize 'anima.ui.general.initiative.base.title')
          inputName="data.characteristics.secondaries.initiative.base.value"
          inputValue=data.data.characteristics.secondaries.initiative.base.value
        }}
        {{>
        "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
          class="primary-initiative"
          rollable=true
          title=(localize 'anima.ui.general.initiative.primary.title')
          inputName="data.characteristics.secondaries.initiative.primary.value"
          inputValue=data.data.characteristics.secondaries.initiative.primary.value
        }}
        {{>
        "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
          class="secondary-initiative"
          rollable=true
          title=(localize 'anima.ui.general.initiative.secondary.title')
          inputName="data.characteristics.secondaries.initiative.secondary.value"
          inputValue=data.data.characteristics.secondaries.initiative.secondary.value
        }}
      </div>
    </div>
    <div class='fatigue-movement'>
      {{>
      "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
        class="fatigue"
        title=(localize 'anima.ui.general.fatigue.title')
        inputName="data.characteristics.secondaries.fatigue.value"
        inputValue=data.data.characteristics.secondaries.fatigue.value
        hasSecondaryInput=true
        secondaryInputName="data.characteristics.secondaries.fatigue.max"
        secondaryInputValue=data.data.characteristics.secondaries.fatigue.max
      }}
      {{>
      "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.movement.title')
        inputName="data.characteristics.secondaries.movement.value"
        inputValue=data.data.characteristics.secondaries.movement.value
      }}
    </div>
  {{/"systems/animabf/templates/parts/common/group-body.hbs"}}
{{/"systems/animabf/templates/parts/common/group.hbs"}}