{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="secondary-special-skills"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.secondaries.secondarySpecialSkills.title")
    addRowButtonData="add-secondary-special-skill"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="secondary-special-skills"
  }}
    {{#each system.secondaries.secondarySpecialSkills}}
      <div data-item-id='{{this._id}}' class='secondary-special-skill-row'>
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="level"
          rollable=true
          title=this.name
          inputName=(concat "system.dynamic.secondarySpecialSkills." this._id ".system.level.value")
          inputValue=this.system.level.value
        }}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
