{{#> "systems/animabf/templates/parts/common/group.hbs"
  class="magic-projection"
  title=(localize "anima.ui.mystic.magicProjection.title")
}}
  {{>
  "systems/animabf/templates/parts/common/horizontal-titled-input.hbs"
    class="final"
    title=(localize "anima.ui.mystic.magicProjection.final.title")
    rollable=true
    rollableMessage=(localize "anima.ui.mystic.magicProjection.final.rollMessage")
    inputName="data.mystic.magicProjection.final.value"
    inputValue=data.mystic.magicProjection.final.value
  }}
  <h3 class='title'>Desequilibrio</h3>
  <div class='imbalance'>
    {{>
    "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
      class="offensive"
      title=(localize "anima.ui.mystic.magicProjection.offensive.title")
      rollable=true
      rollableMessage=(localize "anima.ui.mystic.magicProjection.offensive.rollMessage")
      inputName="data.mystic.magicProjection.imbalance.offensive.value"
      inputValue=data.mystic.magicProjection.imbalance.offensive.value
    }}
    {{>
    "systems/animabf/templates/parts/common/vertical-titled-input.hbs"
      class="defensive"
      title=(localize "anima.ui.mystic.magicProjection.defensive.title")
      rollable=true
      rollableMessage=(localize "anima.ui.mystic.magicProjection.defensive.rollMessage")
      inputName="data.mystic.magicProjection.imbalance.defensive.value"
      inputValue=data.mystic.magicProjection.imbalance.defensive.value
    }}
  </div>
{{/"systems/animabf/templates/parts/common/group.hbs"}}