<div class='settings'>
  {{> "systems/abf/templates/actor/parts/settings/parts/tabVisibility.hbs"}}
  {{> "systems/abf/templates/actor/parts/settings/parts/advancedSettings.hbs"}}
  {{> "systems/abf/templates/actor/parts/settings/parts/advancedCharacteristics.hbs"}}
  {{> "systems/abf/templates/actor/parts/settings/parts/automationOptions.hbs"}}
</div>
