<div class='settings-tab'>
  {{> "systems/animabf/templates/actor/parts/settings/parts/tabVisibility.hbs"}}
  {{> "systems/animabf/templates/actor/parts/settings/parts/advancedSettings.hbs"}}
  {{> "systems/animabf/templates/actor/parts/settings/parts/advancedCharacteristics.hbs"}}
  {{> "systems/animabf/templates/actor/parts/settings/parts/automationOptions.hbs"}}
</div>
