<div class='settings'>
  {{> "systems/animabf/templates/actor/parts/settings/parts/tabVisibility.hbs"}}
  {{> "systems/animabf/templates/actor/parts/settings/parts/advancedSettings.hbs"}}
  {{> "systems/animabf/templates/actor/parts/settings/parts/modifiers.hbs"}}
  {{> "systems/animabf/templates/actor/parts/settings/parts/advancedCharacteristics.hbs"}}
</div>
