<div class='settings'>
  <section class='settings-body'> 
    <div>
      {{> "systems/abf/templates/actor/parts/settings/parts/tabVisibility.hbs"}}
      {{> "systems/abf/templates/actor/parts/settings/parts/automationOptions.hbs"}}
    </div>
    <div>
      {{> "systems/abf/templates/actor/parts/settings/parts/advancedSettings.hbs"}}
    </div>
    <div>
      {{> "systems/abf/templates/actor/parts/settings/parts/advancedCharacteristics.hbs"}}
    </div>
  </section> 
</div>
