@import '../variable';

.combat-defense-dialog {
  height: auto !important;

  width: 550px;

  .window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    position: absolute;
    top: 0.2rem;
    color: #ffffff;
    align-self: center;
    font-weight: bold;
  }

  .common-group {
    height: 100%;
  }

  .sheet-tabs {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: inherit;

    margin-bottom: 0.75rem;

    border-top: 1px solid $red;
    border-bottom: 1px solid $red;

    .item {
      background: transparent;
      border-radius: $border-radius;
      color: $black;
      font-weight: 600;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .active {
      text-shadow: none;
      background-color: $red;
      color: $white;
      font-weight: 600;
    }
  }

  .group-body {
    .defense-sent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 2rem;

      .label {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
      }
    }

    .defense-amount {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    .defense-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;

      margin-top: 2rem;
    }

    .waiting-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

      .label {
        margin-top: 1rem;
        text-align: center;
      }
    }

    .columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .hr {
      border-bottom: 1px solid $red;
    }
  }
}