@import '../variable';

.mystic-cast-dialog {
  height: auto !important;

  width: 360px;

  .window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .common-group {
    height: 100%;
  }

  .sheet-tabs {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: inherit;

    margin-bottom: 0.75rem;

    border-top: 1px solid $red;
    border-bottom: 1px solid $red;

    .item {
      background: transparent;
      border-radius: $border-radius;
      color: $black;
      font-weight: 600;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .active {
      text-shadow: none;
      background-color: $red;
      color: $white;
      font-weight: 600;
    }
  }

  .group-body {
    overflow-y: scroll;

    height: 100%;

    .maintained-spells {
      .group-header {
        min-height: 1.3rem;

        .group-header-title {
          font-size: 0.95rem;
          line-height: 0.5rem;

        }
      }
    }

    .maintained-spell:first-child {
      margin-top: 0;
    }

    .maintained-spell-row {
      margin-top: 0.75rem;
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr;
      grid-column-gap: 0.1rem;

      .name .input-container {
        width: 100%;
        align-items: start;
      }
    }

    .mystic-cast-button,
    .maintain-spell-button {
      margin-top: 0.75rem;

    }

    .columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .hr {
      border-bottom: 1px solid $red;
    }
  }
}