<div class='general'>
  <nav class="general-tabs tabs secondary-tab" data-group="secondary">
    <a class="item active" data-tab="general-first">{{localize "anima.ui.general.tabs.first"}}</a>
    <a class="item" data-tab="general-second">{{localize "anima.ui.general.tabs.second"}}</a>
    <a class="item" data-tab="general-third">{{localize "anima.ui.general.tabs.third"}}</a>
  </nav>

  <section class='general-body'>
    <div class='tab' data-group="secondary" data-tab="general-first">
      <div class='first-tab'>
        <div>
          {{> "systems/animabf/templates/actor/parts/general/parts/level.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/experience.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/presence.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/destiny-points.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/aspect.hbs"}}
        </div>
        {{> "systems/animabf/templates/actor/parts/general/parts/description.hbs"}}
      </div>
    </div>

    <div class='tab' data-group="secondary" data-tab="general-second">
      <div class='second-tab'>
        <div>
          {{> "systems/animabf/templates/actor/parts/general/parts/advantages.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/disadvantages.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/elan.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/language.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/titles.hbs"}}
        </div>
        <div>
          {{> "systems/animabf/templates/actor/parts/general/parts/contacts.hbs"}}
          {{> "systems/animabf/templates/actor/parts/general/parts/notes.hbs"}}
        </div>
      </div>
    </div>

    <div class='tab' data-group="secondary" data-tab="general-third">
      <div class='third-tab'>
        {{> "systems/animabf/templates/actor/parts/general/parts/money.hbs"}}
        {{> "systems/animabf/templates/actor/parts/general/parts/inventory-items.hbs"}}
      </div>
    </div>
  </section>
</div>
