<div class='main-tab'>
  <div class='first-column'>
    {{> "systems/animabf/templates/actor/parts/general/parts/level.hbs"}}
    {{> "systems/animabf/templates/actor/parts/general/parts/language.hbs"}}
    {{> "systems/animabf/templates/actor/parts/general/parts/elan.hbs"}}
    {{> "systems/animabf/templates/actor/parts/general/parts/titles.hbs"}}
  </div>
  <div class='second-column'>
    <div class='sub-columns'>
      <div>
        {{> "systems/animabf/templates/actor/parts/general/parts/experience.hbs"}}
        {{> "systems/animabf/templates/actor/parts/general/parts/advantages.hbs"}}
        {{> "systems/animabf/templates/actor/parts/general/parts/disadvantages.hbs"}}
      </div>
      <div>
        {{> "systems/animabf/templates/actor/parts/general/parts/aspect.hbs"}}
        {{> "systems/animabf/templates/actor/parts/general/parts/description.hbs"}}
      </div>
    </div>
    <div class='contacts'>
      {{> "systems/animabf/templates/actor/parts/general/parts/contacts.hbs"}}
    </div>
    <div class='_notes'>
      {{> "systems/animabf/templates/actor/parts/general/parts/notes.hbs"}}
    </div>
  </div>
</div>