{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="spells"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize "anima.ui.mystic.spells.title")
    addRowButtonData="add-spell"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="spells"
  }}
    {{#each data.data.mystic.spells as |spell|}}
      <div data-item-id='{{spell._id}}' class='spell-row'>
        {{#> "systems/animabf/templates/common/ui/group.hbs"
          class="spell"
          contractible=true
          contractibleItemId=spell._id
        }}
          {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
            <div class='spell-header'>
              <div class='first-row'>
                {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  class="name"
                  hideTitle=true
                  inputType="text"
                  inputName=(concat "data.dynamic.spells." spell._id ".name")
                  inputValue=spell.name
                }}
              </div>
              <div class='second-row'>
                {{>
                "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
                  class="level"
                  title=(localize "anima.ui.mystic.spell.level.title")
                  inputName=(concat "data.dynamic.spells." spell._id ".data.level.value")
                  inputValue=spell.data.level.value
                }}
                {{>
                'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                  class="via"
                  choices=xRoot.config.iterables.mystic.vias
                  title=(localize "anima.ui.mystic.spell.via.title")
                  inputName=(concat "data.dynamic.spells." spell._id ".data.via.value")
                  inputValue=spell.data.via.value
                }}
              </div>
            </div>
          {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-body.hbs"
            class="spell"
          }}
            {{>
            "systems/animabf/templates/actor/parts/mystic/parts/spells/grade/grade.hbs"
              class="base-grade"
              spellId=spell._id
              intRequiredInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.base.intRequired.value")
              zeonInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.base.zeon.value")
              maintenanceCostInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.base.maintenanceCost.value")
              descriptionInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.base.description.value")
              gradeName='base'
              grade=spell.data.grades.base
            }}
            {{>
            "systems/animabf/templates/actor/parts/mystic/parts/spells/grade/grade.hbs"
              class="intermediate-grade"
              spellId=spell._id
              hideTitle=true
              intRequiredInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.intermediate.intRequired.value")
              zeonInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.intermediate.zeon.value")
              maintenanceCostInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.intermediate.maintenanceCost.value")
              descriptionInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.intermediate.description.value")
              gradeName='intermediate'
              grade=spell.data.grades.intermediate
            }}
            {{>
            "systems/animabf/templates/actor/parts/mystic/parts/spells/grade/grade.hbs"
              class="advanced-grade"
              spellId=spell._id
              hideTitle=true
              intRequiredInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.advanced.intRequired.value")
              zeonInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.advanced.zeon.value")
              maintenanceCostInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.advanced.maintenanceCost.value")
              descriptionInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.advanced.description.value")
              gradeName='advanced'
              grade=spell.data.grades.advanced
            }}
            {{>
            "systems/animabf/templates/actor/parts/mystic/parts/spells/grade/grade.hbs"
              class="arcane-grade"
              spellId=spell._id
              hideTitle=true
              intRequiredInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.arcane.intRequired.value")
              zeonInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.arcane.zeon.value")
              maintenanceCostInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.arcane.maintenanceCost.value")
              descriptionInputName=(concat "data.dynamic.spells." this.spellId ".data.grades.arcane.description.value")
              gradeName='arcane'
              grade=spell.data.grades.arcane
            }}
          {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
          {{#> "systems/animabf/templates/common/ui/group-footer.hbs"}}
            <div class='spell-footer'>
              {{>
              'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                class="spell-type"
                choices=xRoot.config.iterables.mystic.spellTypes
                title=(localize "anima.ui.mystic.spell.spellType.title")
                inputName=(concat "data.dynamic.spells." spell._id ".data.spellType.value")
                inputValue=spell.data.spellType.value
              }}
              {{>
              'systems/animabf/templates/common/ui/custom-select-choices.hbs'
                class="action-type"
                choices=xRoot.config.iterables.mystic.actionTypes
                title=(localize "anima.ui.mystic.spell.actionType.title")
                inputName=(concat "data.dynamic.spells." spell._id ".data.actionType.value")
                inputValue=spell.data.actionType.value
              }}
              {{>
              'systems/animabf/templates/common/ui/horizontal-titled-input.hbs'
                class="has-daily-maintenance"
                title=(localize "anima.ui.mystic.spell.hasDailyMaintenance.title")
                inputType="checkbox"
                inputName=(concat "data.dynamic.spells." spell._id ".data.hasDailyMaintenance.value")
                inputValue=(is 'eq' spell.data.hasDailyMaintenance.value true)
              }}
            </div>
          {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
        {{/"systems/animabf/templates/common/ui/group.hbs"}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}