{{#> "systems/animabf/templates/parts/common/ui/group.hbs"
  class="ammo"
}}
  {{>
  "systems/animabf/templates/parts/common/ui/group-header.hbs"
    title=(localize "anima.ui.combat.ammo.title")
    addRowButtonData="add-ammo"
  }}
  {{#> "systems/animabf/templates/parts/common/ui/group-body.hbs"
    class="ammo"
  }}
    {{#each data.data.combat.ammo}}
      <div data-ammo-id='{{this._id}}' class='ammo-row'>
        {{>
        "systems/animabf/templates/parts/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize "anima.ui.combat.ammo.name.title")
          hideTitle=(is "gt" @index 0)
          inputType="text"
          inputName=(concat "data.dynamic.ammo." this._id ".name")
          inputValue=this.name
        }}
        {{>
        "systems/animabf/templates/parts/common/ui/vertical-titled-input.hbs"
          class="amount"
          title=(localize "anima.ui.combat.ammo.amount.title")
          hideTitle=(is "gt" @index 0)
          inputName=(concat "data.dynamic.ammo." this._id ".data.amount")
          inputValue=this.data.amount.value
        }}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/parts/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/parts/common/ui/group.hbs"}}