@import '../../variable';

.combat {
  .first-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
  }

  .second-row,
  .third-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .combat-special-skills {
    margin-top: 0.5rem;

    .input {
      @include input;
    }

    .combat-special-skill-row:first-child {
      margin-top: 0;
    }

    .combat-special-skill-row {
      margin-top: 0.5rem;
    }
  }

  .combat-tables {
    margin-top: 0.5rem;

    .input {
      @include input;
    }
    .combat-table-row:first-child {
      margin-top: 0;
    }

    .combat-table-row {
      margin-top: 0.5rem;
    }
  }

  .ammo {
    .ammo-row:first-child {
      margin-top: 0;
    }

    .group-body {
      max-height: 10.2rem;
      overflow: hidden;
      overflow-y: scroll;
    }

    .ammo-row {
      margin-top: 0.5rem;

      .name {
        .input-container {
          min-width: 10rem;
        }
      }

      display: flex;
      justify-content: space-between;
    }
  }

  .weapons {
    margin-top: 0.75rem;

    .weapon-row:first-child {
      margin-top: 0;
    }

    .weapon-header {
      .input-container {
        width: 15rem;
      }
    }

    .weapon-row {
      margin-top: 0.5rem;
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;

      .attack,
      .block {
        .input {
          border: 1px white solid;
        }
      }

      .damage,
      .integrity,
      .breaking,
      .presence,
      .initiative,
      .fue-required,
      .quality {
        .input-container {
          width: 2.75rem;
        }
      }

      .group-body {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .common-titled-input {
          flex-basis: 3rem;

          margin: 0.5rem;
        }

        .special {
          .input-container {
            width: 10rem;
          }
        }
      }

      .group-footer {
        height: 5rem;
        padding-bottom: 0.5rem;

        .weapon-footer {
          width: 100%;
          display: flex;
          justify-content: space-between;

          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .input {
            height: 1.5rem;
          }
        }
      }
    }
  }

  .armors {
    margin-top: 0.75rem;

    .armor-row:first-child {
      margin-top: 0;
    }

    .armor-header {
      .input-container {
        width: 15rem;
      }
    }

    .armor-row {
      margin-top: 0.5rem;
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;

      .cut,
      .impact,
      .thrust,
      .heat,
      .electricity,
      .cold,
      .energy,
      .quality,
      .integrity,
      .final-movement-restriction {
        .input-container {
          width: 2.75rem;
        }
      }

      .group-body {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .common-titled-input {
          flex-basis: 6rem;

          margin: 0.5rem;
        }
      }

      .group-footer {
        height: 5rem;
        padding-bottom: 0.5rem;

        .armor-footer {
          width: 100%;
          display: flex;
          justify-content: space-between;

          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .input {
            height: 1.5rem;
          }
        }
      }
    }
  }
}
