@import '../../variable';

.domine-tab {
  // Grids
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1rem;

  .second-column > .sub-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;

    .sub-sub-columns {
      display: flex;
      flex-direction: column;
    }
  }

  div .common-group {
    &:first-child {
      margin-top: 0;
    }

    margin-top: 0.75rem;
  }
  // Grids

  .ki-skills,
  .nemesis-skills,
  .ars-magnus,
  .special-skills {
    .input {
      @include input;
    }
  }

  // Ki Skills
  .ki-skills {
    .ki-skill-row:first-child {
      margin-top: 0;
    }

    .ki-skill-row {
      margin-top: 0.75rem;
    }
  }
  // Ki Skills

  // Nemesis Skill
  .nemesis-skills {
    .nemesis-skill-row:first-child {
      margin-top: 0;
    }

    .nemesis-skill-row {
      margin-top: 0.75rem;
    }
  }
  // Nemesis Skill

  // Ars Magnus
  .ars-magnus {
    .ars-magnus-row:first-child {
      margin-top: 0;
    }

    .ars-magnus-row {
      margin-top: 0.75rem;
    }
  }
  // Ars Magnus

  // Martial Arts
  .martial-arts {
    .martial-art-row:first-child {
      margin-top: 0;
    }

    .martial-art-row {
      margin-top: 0.75rem;

      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 1rem;

      .name {
        .input-container {
          width: 100%;
        }
      }
      .grade {
        .input-container {
          width: 100%;
        }
      }
    }
  }
  // Martial Arts

  // Creatures
  .creatures {
    .creature-row:first-child {
      margin-top: 0;
    }

    .creature-row {
      margin-top: 0.75rem;

      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 0.25rem;

      .input-container {
        width: 1rem;
      }

      .name {
        .input-container {
          width: 4rem;
        }
      }
    }
  }
  // Creatures

  // Special Skills
  .special-skills {
    .special-skill-row:first-child {
      margin-top: 0;
    }

    .special-skill-row {
      margin-top: 0.75rem;
    }
  }
  // Special Skills

  // Ki Accumulation
  .ki-accumulation {
    width: 15.5rem;

    .group-header {
      display: flex;

      .accumulation {
        padding-left: 3.5rem;
      }

      .title {
        margin-left: 3.5rem;
      }

      .label {
        font-size: 1rem;
      }
    }

    .group-body {
      position: relative;
      padding-bottom: 0;

      .red-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 100%;
        background-color: $red;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        z-index: -1;
      }

      .accumulation-row {
        display: flex;

        margin-bottom: 0.4rem;

        .input-container {
          width: 2.5rem;

          &.big {
            width: 4rem;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.generic-accumulation-row {
          height: 1.5rem;

          .input-container.big {
            width: 6rem;
          }

          .accumulation-row-title {
            width: auto;
            padding-right: 1.1rem;
            font-size: 1.1rem;
            padding-left: 1rem;

            margin-right: 2.5rem;

            background-color: $red;
            border-radius: 1rem;
          }
        }

        .input-container {
          .input {
            height: 1rem;
          }
        }

        .accumulation-row-title {
          display: flex;
          justify-content: center;
          align-items: center;

          color: white;
          font-weight: bold;
          font-size: 1rem;
          width: 2rem;

          margin: 0;
        }

        .accumulation-row-accumulation {
          margin-left: 1.5rem;
          margin-right: 3rem;
        }
      }
    }
  }
  // Ki Accumulation

  // Seals
  .seals {
    .label {
      margin: 0;
    }

    .group-header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      padding-left: 0.5rem;

      .label {
        font-size: 1rem;
      }
    }

    .group-body {
      position: relative;
      padding-bottom: 0;

      .red-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 5.5rem;
        height: 100%;
        background-color: $red;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        z-index: -1;
      }

      .seal-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .seal-row-title {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          color: white;
          font-weight: bold;
          font-size: 1rem;
          width: 100%;

          margin: 0 0 0 1rem;
        }

        .common-titled-input {
          display: block;
        }

        .input-container {
          width: auto;
        }
      }
    }
  }
  // Seals

  // Techniques
  .techniques {
    .technique-row:first-child {
      margin-top: 0;
    }

    .technique-row {
      margin-top: 0.5rem;
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;
    }

    .technique-row:last-child {
      margin-bottom: 0.5rem;
    }

    .technique-row .technique {
      .editor {
        @include input;

        font-weight: inherit;

        height: 10rem;
        width: 100%;

        margin-top: 0;
        border-radius: 0.5rem;
      }

      .technique-header {
        width: 100%;
        padding-left: 0.5rem;

        .name {
          .input-container {
            width: 100%;
          }
        }

        .input {
          height: 1rem;
        }
      }

      .technique-footer {
        width: 100%;

        padding-right: 0.5rem;
        padding-left: 0.5rem;

        display: flex;
        justify-content: space-between;

        .input-container {
          width: 2rem;
        }
      }
    }
  }
  // Techniques
}
