@import '../../variable';
@import '../../variable';

.general {
  .first-tab {
    // Grids
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;

    div .common-group {
      &:first-child {
        margin-top: 0;
      }

      margin-top: 0.75rem;
    }
    // Grids

    // Level
    .level {
      .group-header {
        position: relative;

        .input {
          @include input;

          height: 1.2rem;
          width: 2.25rem;
          position: absolute;
          right: 0.5rem;
        }
      }

      .level-row {
        &:first-child {
          margin-top: 0;
        }

        margin-top: 0.25rem;

        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-column-gap: 0.5rem;

        .name .input-container {
          width: 100%;
        }
      }
    }
    // Level

    // Aspect
    .aspect {
      .group-body {
        .input-container {
          width: 8rem;
        }

        .age,
        .size {
          .input-container {
            width: 2.5rem;
          }
        }
      }
    }
    // Aspect

    // Experience
    @keyframes experience-bar {
      0% {
        transform: translateX(-100%);
      }

      100% {
        transform: translateX(0);
      }
    }

    .experience {
      .input {
        @include input;
      }

      .group-body {
        .experience-bar,
        .experience-bar .current-experience {
          height: 0.5rem;
          border-radius: 0.25rem;
        }

        .experience-bar {
          position: relative;
          background-color: $light-cream;
          overflow: hidden;

          .current-experience {
            position: absolute;
            left: 0;
            top: 0;

            background-color: $red;

            animation: experience-bar 300ms ease-in-out;
          }
        }

        .input {
          background-color: transparent;
          height: 1rem;

          &.current-experience {
            text-align: end;
          }

          &.red {
            color: $red;
          }
        }
      }
    }
    // Experience

    // Description
    .description {
      .group-body {
        .editor {
          @include input;

          font-weight: inherit;

          height: 27.3rem;
          width: 100%;

          margin-top: 0;
          border-radius: 0.5rem;
        }
      }
    }
    // Description
  }

  .second-tab {
    // Grids
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 1rem;

    div .common-group {
      &:first-child {
        margin-top: 0;
      }

      margin-top: 0.75rem;
    }
    // Grids

    // Language
    .languages {
      .group-header {
        position: relative;

        .input {
          @include input;
          height: 1.2rem;
          width: 2.25rem;
          position: absolute;
          right: 0.5rem;
        }
      }

      .group-body {
        .base-language {
          align-items: center;
        }

        .language-row {
          margin-top: 0.25rem;

          .input-container {
            width: 100%;
          }
        }
      }
    }
    // Language

    // Advantages
    .advantages {
      .group-body {
        .advantage-row:first-child {
          margin-top: 0;
        }

        .advantage-row {
          margin-top: 0.75rem;
        }
      }
    }
    // Advantages

    // Disadvantages
    .disadvantages {
      .group-body {
        .disadvantage-row:first-child {
          margin-top: 0;
        }

        .disadvantage-row {
          margin-top: 0.75rem;
        }
      }
    }
    // Disadvantages

    // Elan
    .elan {
      .group-body {
        .elan-row:first-child {
          margin-top: 0;
        }

        .elan-row {
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          padding: 0.5rem;
          border-radius: 0.5rem;

          margin-top: 0.75rem;

          .base,
          .powers {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 0.5rem;

            .name .input-container,
            .elan-power-name .input-container {
              width: 100%;
            }
          }

          .powers .input-container {
            margin-top: 0.5rem;
          }
        }
      }
    }
    // Elan

    // Contacts
    .contacts {
      .group-body {
        .contact-row:first-child {
          margin-top: 0;
        }

        .contact-row {
          margin-top: 0.75rem;

          display: grid;
          grid-template-columns: 2fr 5fr;
          grid-column-gap: 0.5rem;

          .name,
          .description {
            .input-container {
              width: 100%;
            }
          }
        }
      }
    }
    // Contacts

    // Titles
    .titles {
      .group-body {
        .title-row:first-child {
          margin-top: 0;
        }

        .title-row {
          margin-top: 0.75rem;
        }
      }
    }
    // Titles

    // Notes
    ._notes {
      .group-body {
        .note-row:first-child {
          margin-top: 0;
        }

        .note-row {
          margin-top: 0.75rem;

          .editor {
            @include input;

            font-weight: inherit;

            height: 15rem;
            width: 100%;

            margin-top: 0;
            border-radius: 0.5rem;
          }
        }
      }
    }
    // Notes
  }

  .third-tab {
    // Grids
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem;

    .inventory-items {
      .group-body {
        .inventory-item-row:first-child {
          margin-top: 0;
        }

        .inventory-item-row {
          margin-top: 0.75rem;

          display: grid;
          grid-template-columns: 3fr 1fr 1fr;
          grid-column-gap: 0.5rem;

          .name .input-container {
            width: 100%;
          }
        }
      }
    }
  }
}
