@import '../../variable';

.actor-header {
  display: flex;
  flex-direction: column;

  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-column-gap: 0.5rem;

    .first-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .third-column .sub-column {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0.5rem;

      margin-bottom: 0.2rem;
    }
  }

  // Actor image
  .actor-image {
    margin-bottom: 0.75rem;

    img {
      border-radius: 1rem;

      width: 10rem;
      height: 10rem;
    }
  }
  // Actor image

  // Top
  .header-top {
    display: flex;
    height: 2.75rem;
    margin-bottom: 0.25rem;

    border-bottom: 2px solid $red;

    .actor-name-input {
      font-size: 2.5rem;
      height: 100%;
      font-weight: bold;
      text-align: center;
      border: none;
      background: transparent;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }

    .dices {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      padding-bottom: 0.25rem;

      .dice {
        position: relative;

        .dice-image {
          width: 3rem;

          border: none;
        }

        .dice-value {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);

          color: white;
          font-weight: bold;
        }
      }
    }
  }
  // Top

  // Modifiers
  .modifiers {
    .group-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
    }
  }
  // Modifiers

  // Characteristics
  .characteristics {
    .group-body {
      margin-top: 0;
      padding: 0.5rem;

      .characteristic {
        margin-bottom: 0.265rem;
      }

      .characteristic:last-child {
        margin-bottom: 0;
      }

      .input-container {
        > .input {
          padding: 0.25rem 1rem 0.25rem 0.25rem;
        }

        .secondary-input {
          width: 2.5rem;
          margin-left: -1rem;
          padding: 0.25rem;
        }
      }
    }
  }
  // Characteristics

  // Common resources
  .common-resources {
    .group-body {
      margin-top: 0;
      padding: 0.5rem;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .movements {
        margin-top: 0.5rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.5rem;
      }

      .initiative {
        margin-top: 0.5rem;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0.5rem;
      }

      .first-row {
        display: flex;
        justify-content: space-between;

        margin-top: 0.5rem;
      }
    }
  }
  // Common resources

  // Armor
  .armor {
    .group-body {
      display: flex;
      align-items: flex-end;

      .name {
        .input-container {
          width: 100%;
        }
      }

      .at {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 0.5rem;

        width: 100%;

        .input-container {
          width: 2.5rem;
        }
      }
    }
  }
  // Armor
}
