@import '../../variable';

.psychic {
  .psychic-main-tab {
    // Grids
    width: 100%;

    .first-row {
      display: grid;
      grid-template-columns: 1fr 23% 2fr;
      grid-column-gap: 1rem;
    }

    .second-row {
      margin-top: 0.5rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
    }

    div .common-group {
      &:first-child {
        margin-top: 0;
      }

      margin-top: 0.75rem;
    }
    // Grids

    // Psychic Projection
    .psychic-projection {
      .title {
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0.25rem;

        text-align: center;
      }

      .imbalance {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
      }
    }
    // Psychic Projection

    // Psychic Disciplines
    .psychic-disciplines {
      .psychic-discipline-row:first-child {
        margin-top: 0;
      }

      .psychic-discipline-row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 0.75rem;

        .name .input-container {
          width: 100%;
        }
      }
    }
    // Psychic Disciplines

    // Mental Patterns
    .mental-patterns {
      .mental-pattern-row:first-child {
        margin-top: 0;
      }

      .mental-pattern-row {
        margin-top: 0.75rem;

        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 0.1rem;

        .input-container {
          width: 100%;
        }

        .input {
          border-radius: $border-radius;
          background: $light-cream;
          font-weight: bold;
          padding: 0.25rem 0.5rem;
        }
      }
    }
    // Mental Patterns

    // Innate Psychic Powers
    .innate-psychic-powers {
      .innate-psychic-power-row:first-child {
        margin-top: 0;
      }

      .innate-psychic-power-row:last-child {
        margin-bottom: 0.5rem;
      }

      .innate-psychic-power-row {
        margin-top: 0.75rem;

        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-column-gap: 0.1rem;

        .input-container {
          width: 100%;
        }
      }

      .group-footer {
        width: 15rem;

        display: flex;
        justify-content: center;
      }
    }
    // Innate Psychic Powers
  }

  .psychic-powers-tab {
    // Psychic Powers
    .psychic-powers {
      & > .group-body {
        display: flex;
        flex-wrap: wrap;
      }

      .psychic-power-row {
        width: calc(50% - 1rem);
        height: 100%;

        margin: 0.5rem;
        border-radius: $border-radius;
        box-shadow: $card-box-shadow;

        .input {
          height: 1.25rem;
        }
      }

      .psychic-power-row .psychic-power {
        .effect-row:first-child {
          margin-top: 0;
        }

        .effect-row:last-child {
          margin-bottom: 0.5rem;
        }

        .effect-row {
          display: grid;
          grid-template-columns: 3rem 3rem 1fr; // dificultad | daño/escudo | descripción
          column-gap: 0.5rem;
          align-items: center;

          margin-top: 0.5rem;

          .difficulty { width: 3rem; }
          .damage, .shield-points { width: 100%; } 
          .description { width: 100%; }

          .damage-title, .shield-points-title { grid-column: 2; margin: 0; font-weight: bold; text-align: center;}
          .description-title { grid-column: 3; margin: 0; font-weight: bold; }text-align: center;

          .input {
            @include input;
            text-align: center;
            height: 1.25rem;
            line-height: 1.25rem;
            padding-top: 0.05rem;
            padding-bottom: 0;
          }

          button.input {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }


        .psychic-power-header {
          padding-right: 0.5rem;
          padding-left: 0.5rem;

          width: 100%;

          .first-row {
            width: 100%;

            .name .input-container {
              width: 100%;
            }
          }

          .second-row {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .level,
            .combat-type {
              .input {
                height: 1.5rem;
              }
            }
            .action-type {
              .input {
                height: 1.5rem;
              }
            }
            .discipline {
              .input {
                height: 1.5rem;
              }
            }
            .macro {
              .input {
                height: 1.5rem;
              }
            }
          }
        }

        .psychic-power-footer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          row-gap: 0.5rem;

          padding-left: 0.5rem;
          padding-right: 0.5rem;
          padding-top: 1.5rem;
          padding-bottom: 0.25rem;

          height: auto;
          min-height: 2rem;
          align-items: stretch;

          .input {
            height: 1.5rem;
          }

          .psychic-cast-button {
            @include button;
            padding-top: 0rem;
            height: 2rem;
            width: 99%;
          }
        }


      }
    }
    // Psychic Powers
  }
}
