@import '../../variable';

.secondaries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;

  div .common-group {
    &:first-child {
      margin-top: 0;
    }

    margin-top: 0.75rem;
  }
}
