@use 'sass:list';
@use 'variable' as variables;

/// Draws a border around a colored shape given by a clip-path.
/// @param {clip-path} $innerClip - Clip defining the inner line of the border.
/// @param {clip-path} $outerClip - Clip defining the outer line of the border.
/// @param {Number} $border-size - border size in pixels
/// @param {color} $border-color - Color used for the border.
/// @param {color} $bg-color - Color used for the background.
@mixin clipped-border($innerClip, $outerClip, $border-size, $border-color, $bg-color) {
  border: unset;
  position: relative;
  background: $border-color;
  -webkit-clip-path: $outerClip;
  clip-path: $outerClip;

  .content {
    position: absolute;
    inset: $border-size;
    background: $bg-color;
    -webkit-clip-path: $innerClip;
    clip-path: $innerClip;
  }

  &::before {
    position: absolute;
    inset: $border-size;
    background: $bg-color;
    -webkit-clip-path: $innerClip;
    clip-path: $innerClip;
    content: '';
    z-index: -1;
  }
}

/// Calculates the value of the corner points.
/// @param {number} $coord-x - x coordinate of the corner
/// @param {number} $coord-y - y coordinate of the corner
/// @param {number} $slant-param - vertical/horizontal size of the slanted edge
/// @return {list} - list of two values representing the points for the corner.
@function corner($coord-x, $coord-y, $slant-param) {
  @if $coord-x != $coord-y {
    @return (
      calc($coord-x - $slant-param) $coord-y,
      $coord-x calc($coord-y + $slant-param)
    );
  }
  @return (
    $coord-x calc($coord-y + $slant-param),
    calc($coord-x + $slant-param) $coord-y
  );
}

/// @param {Number} $base-width
/// @param {Number} $border-size
/// @param {Number} $inner [0]
/// @return {Number}
@function slant-width($base-width, $border-size, $inner: 0) {
  @return calc($base-width + ($border-size * sqrt(2) - 2 * $border-size) * $inner);
}

/// Calculates clipping for slanted edges in the specified columns. Takes into account a border size
/// for mantaining the borders equal. Asumes 45 degrees for the slanted lines.
/// @param {Number} $edge - vertical/horizontal size of the slanted egde. Asumed to be 45 degrees.
/// @param {Number} $border-size - border size in pixels
/// @param {list} $corners [0 1 1 1] - List indicating which corners are slanted.
/// Starting from the top left corner and advancing clockwise, a 1 indicates the corresponding corner
/// is slanted and a 0 indicates a square corner.
/// @param {Number} $inner [0] - A number indicating whether to get the outer (0) clip-path or the inner (1).
@function slanted-clip($edge, $border-size, $corners: 0 1 1 1, $inner: 0) {
  $slant-param: slant-width($edge, $border-size, $inner);
  @return polygon(
    corner(0%, 0%, calc(list.nth($corners, 1) * $slant-param)),
    corner(100%, 0%, calc(list.nth($corners, 2) * $slant-param)),
    corner(100%, 100%, calc(-1 * list.nth($corners, 3) * $slant-param)),
    corner(0%, 100%, calc(-1 * list.nth($corners, 4) * $slant-param))
  );
}

/// Draws a border with slanted edges in the specified corners.
/// @param {Number} $edge - vertical/horizontal size of the slanted egde. Asumed to be 45 degrees.
/// @param {Number} $border-size - border size in pixels
/// @param {list} $corners [0 1 1 1] - List indicating which corners are slanted.
/// Starting from the top left corner and advancing clockwise, a 1 indicates the corresponding corner
/// is slanted and a 0 indicates a square corner.
/// @param {color} $border-color - Color used for the border.
/// Defaults to `variables.$border-color`.
/// @param {color} $bg-color - Color used for the background.
/// Defaults to `variables.$background-main`.
/// @output
@mixin slanted-edges(
  $edge,
  $border-size,
  $corners: 0 1 1 1,
  $border-color: variables.$border-color,
  $bg-color: variables.$background-main
) {
  @include clipped-border(
    slanted-clip($edge, $border-size, $corners, $inner: 1),
    slanted-clip($edge, $border-size, $corners),
    $border-size,
    $border-color,
    $bg-color
  );
}

/// Calculates clipping for arrow shape (<=>), taking into account a border size for equal borders equal.
/// @param {number} $tip-width - Indicates the width for the arrow tips.
/// @param {Number} $border-size - border size in pixels
/// @param {Number} $inner [0] - A number indicating whether to get the outer (1) clip-path or the inner (0).
/// @param {String} $direction ['both'] - Direction of the arrow. Can be "left", "right" or "both".
@function arrow-clip($tip-width, $border-size, $inner: 0, $direction: 'both') {
  $width: slant-width($tip-width, $border-size, $inner);
  $tip-offset: calc($inner * (sqrt(2) - 1) * $border-size);

  $left: if($direction == 'both' or $direction == 'left', 1, 0);
  $right: if($direction == 'both' or $direction == 'right', 1, 0);
  @return polygon(
    // Left arrow tip
    calc(0% + $left * $width) 100%,
    calc(0% + $left * $tip-offset) 50%,
    calc(0% + $left * $width) 0%,
    // Right arrow tip
    calc(100% - $right * $width) 0%,
    calc(100% - $right * $tip-offset) 50%,
    calc(100% - $right * $width) 100%
  );
}

/// Draws a border with arrow (<=>) shape.
/// @param {Number} $height - height of the element.
/// @param {Number} $border-size - border size in pixels.
/// @param {String} $direction ['both'] - Direction of the arrow. Can be "left", "right" or "both".
/// @param {color} $border-color - Color used for the border.
/// Defaults to `variables.$border-color`.
/// @param {color} $bg-color - Color used for the background.
/// Defaults to `variables.$background-main`.
@mixin arrow-shape(
  $height,
  $border-size,
  $direction: 'both',
  $border-color: variables.$border-color,
  $bg-color: variables.$background-main
) {
  height: $height;
  @include clipped-border(
    arrow-clip(calc($height / 2), $border-size, $inner: 1, $direction: $direction),
    arrow-clip(calc($height / 2), $border-size, $direction: $direction),
    $border-size,
    $border-color,
    $bg-color
  );
}

@mixin circle(
  $height,
  $border-size,
  $border-color: variables.$border-color,
  $bg-color: variables.$background-main
) {
  width: $height;
  height: $height;
  border: $border-size solid;
  border-radius: 50%;
  border-color: $border-color;
  background: $bg-color;
} ;
