@use "variable";

$card-height: var(--height, 260px);
$card-width: var(--width, 500px);
$border-size: var(--border-size, 5px);
$edge-size: var(--edge, 40px);
$sidebar-size: var(--sidebar-size, 60px);

$navbutton-size: var(--nav-size, 50px);

$border-color: var(--border-color, variable.$border-color);
$background-color: var(--background-color, variable.$background-main);
$background-light: var(--background-light, variable.$background-light);
$background-active: var(--background-active, #{$background-light});
$sidebar-color: var(--sidebar-color, variable.$background-secondary);
$text-color: var(--text-color, variable.$text-color);
$text-color-light: var(--text-color-light, variable.$background-light);

$font-size: var(--font-size, 34px);

@mixin buttonlike() {
  cursor: pointer;

  &:hover {
    --background-color: #{$background-active};
    transform: scale(1.02);
    box-shadow: unset;
  }
  &:focus {
    box-shadow: unset;
  }
}
@mixin noninteractive() {
  cursor: default;

  &:hover {
    box-shadow: unset;
  }
  &:focus {
    box-shadow: unset;
  }
}

@mixin text($theme: dark) {
  font-size: $font-size;
  @if $theme == light {
    color: $text-color-light;
  } @else {
    color: $text-color;
  }
}
