@import 'variable.scss';

.combat{
  .first-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.1rem;
  }

  .combat-special-skills {
    .input {
      @include input;
    }
    .combat-special-skill-row:first-child {
      margin-top: 0;
    }

    .combat-special-skill-row {
      margin-top: 0.50rem;
    }
  }
}