@import 'variable.scss';

.combat {
  .first-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .combat-special-skills {
    .input {
      @include input;
    }

    .combat-special-skill-row:first-child {
      margin-top: 0;
    }

    .combat-special-skill-row {
      margin-top: 0.5rem;
    }
  }

  .combat-tables {
    .input {
      @include input;
    }
    .combat-table-row:first-child {
      margin-top: 0;
    }

    .combat-table-row {
      margin-top: 0.5rem;
    }
  }

  .ammo {
    .ammo-row:first-child {
      margin-top: 0;
    }

    .ammo-row {
      margin-top: 0.5rem;

      .name {
        .input-container {
          width: 100%;
        }
      }

      display: flex;
    }
  }

  .weapons {
    margin-top: 0.75rem;

    .input {
      height: 1.2rem;
    }

    .weapon-row:first-child {
      margin-top: 0;
    }

    .weapon-header {
      .input-container {
        width: 15rem;
      }
    }

    .weapon-row {
      margin-top: 0.5rem;
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;

      .group-body {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .armors {
    margin-top: 0.75rem;

    .input {
      height: 1.2rem;
    }

    .armor-row:first-child {
      margin-top: 0;
    }

    .armor-header {
      .input-container {
        width: 15rem;
      }
    }

    .armor-row {
      margin-top: 0.5rem;
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;

      .group-body {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
