@import 'variable.scss';
@import '_common.scss';

.main-tab {
  margin-top: 0.75rem;

  // Grids
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1rem;

  .second-column > .sub-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  // Grids

  // Main styles
  .group {
    width: 100%;

    .group-header {
      @include group-header;

      position: relative;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-height: 1.7rem;
      padding-right: 0.5rem;

      .group-header-title {
        font-weight: bold;
        width: 100%;
        margin: 0;
      }

      .add-button {
        justify-self: start;
        padding: 0.125rem;
        border: none;
        cursor: pointer;
      }

      .input {
        justify-self: end;

        width: 2.8rem !important; // TODO Eliminar el estilo genérico
        height: 1rem !important; // TODO Eliminar el estilo genérico
      }
    }

    .group-body {
      @include group-body;

      margin-top: -1.5rem;
      padding: 2rem 0.5rem 0.5rem;

      .input {
        width: 100% !important; // TODO Eliminar el estilo genérico
        height: 1.5rem !important; // TODO Eliminar el estilo genérico
      }
    }

    .input {
      border-radius: $border-radius;
      background: $light-cream;
      font-weight: bold;
      padding: 0.25rem 0.5rem;
    }

    .add-button {
      width: auto;
      height: 1.5rem;
      border-radius: 50%;
    }

    .label {
      font-weight: bold;

      &.gray {
        color: $light-gray;
      }
    }
  }

  // Main styles

  // Level
  .level {
    .group-body {
      .level-row:first-child {
        margin-top: 0;
      }

      .level-row {
        margin-top: 0.25rem;

        & .input {
          &:first-child {
            flex: 3.7;
            margin-right: 0.5rem;
          }

          flex: 1;
        }
      }
    }
  }
  // Level

  // Language
  .language {
    .group-body {
      .base-language {
        align-items: center;
      }

      .language-row {
        margin-top: 0.25rem;

        .input {
          width: 100%;
        }
      }
    }
  }
  // Language

  // Elan
  .elan {
    .group-header-title {
      padding-right: 2rem;
    }

    .group-body {
      .elan-row:first-child {
        margin-top: 0;
      }

      .elan-row {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        border-radius: 0.5rem;

        margin-top: 0.75rem;

        .base {
          align-items: center;
        }

        .powers {
          & .input {
            &:first-child {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  // Elan

  // Titles
  .titles {
    .group-header-title {
      padding-right: 2rem;
    }

    .group-body {
      .title-row:first-child {
        margin-top: 0;
      }

      .title-row {
        margin-top: 0.75rem;
      }
    }
  }
  // Titles

  // Experience
  @keyframes experience-bar {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .experience {
    .group-body {
      .experience-bar,
      .experience-bar .current-experience {
        height: 0.5rem;
        border-radius: 0.25rem;
      }

      .experience-bar {
        position: relative;
        background-color: $light-cream;
        overflow: hidden;

        .current-experience {
          position: absolute;
          left: 0;
          top: 0;

          background-color: $red;

          animation: experience-bar 300ms ease-in-out;
        }
      }

      .input {
        background-color: transparent;
        height: 1rem !important; // TODO Eliminar el estilo genérico

        &.current-experience {
          text-align: end;
        }

        &.red {
          color: $red;
        }
      }
    }
  }
  // Experience

  // Advantages
  .advantages {
    .group-header-title {
      padding-right: 2rem;
    }

    .group-body {
      .advantage-row:first-child {
        margin-top: 0;
      }

      .advantage-row {
        margin-top: 0.75rem;
      }
    }
  }
  // Advantages

  // Disadvantages
  .disadvantages {
    .group-header-title {
      padding-right: 2rem;
    }

    .group-body {
      .disadvantage-row:first-child {
        margin-top: 0;
      }

      .disadvantage-row {
        margin-top: 0.75rem;
      }
    }
  }
  // Disadvantages

  // Aspect
  .aspect {
    .group-body {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .hair,
      .eyes,
      .height,
      .weight,
      .age,
      .genre,
      .race,
      .appearance,
      .size {
        align-items: center;
        margin-top: 0.5rem;

        .label {
          margin: 0;
          margin-right: 0.25rem;
        }
      }

      .aspect-row:first-child {
        margin-top: 0;
      }

      .aspect-row {
        margin-top: 0.75rem;
      }
    }
  }
  // Aspect

  // Description
  .description {
    .group-body {
      .input {
        border: none;
        height: 8rem !important; // TODO Eliminar el estilo genérico
      }
    }
  }
  // Description

  // Contacts
  .contacts {
    .group-header-title {
      padding-right: 2rem;
    }

    .group-body {
      .contact-row:first-child {
        margin-top: 0;
      }

      .contact-row {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
        border-radius: 0.5rem;

        margin-top: 0.75rem;

        .label {
          color: $black;
          text-align: center;

          margin-top: 0;
        }

        .contact-name,
        .contact-description {
          flex-direction: column;
          align-items: center;
          justify-content: start;

          width: 100%;

          flex: 1;
        }

        .contact-name {
          .input {
            border: none;
            height: auto !important; // TODO Eliminar el estilo genérico
          }
        }

        .contact-description {
          flex: 2.5;

          .input {
            border: none;
            height: auto !important; // TODO Eliminar el estilo genérico
          }
        }
      }
    }
  }
  // Contacts

  // Notes
  .notes {
    .group-header-title {
      padding-right: 2rem;
    }

    .group-body {
      .note-row:first-child {
        margin-top: 0;
      }

      .note-row {
        margin-top: 0.75rem;
      }
    }
  }
  // Notes
}
