// -------------------
// ------COLORS-------
// -------------------

$red: #6e2917;
$dark-cream: #dcd7b7;
$light-cream: #e7e5da;
$intensified-red: #ff0000;
$black: #000000;
$white: #ffffff;
$grey: #808080;
$light-gray: #9f9c87;

$border-radius: 10px;

$card-box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
