{{#> "systems/abf/templates/common/ui/group.hbs"
  class="advantages"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.advantageSection.title')
    addRowButtonData="add-advantage"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="advantages"
  }}
    {{#each system.general.advantages as |advantage|}}
      <div data-item-id='{{advantage._id}}' class='advantage-row'>
        <input
          name='system.dynamic.advantages.{{advantage._id}}.name'
          type='text'
          class='input'
          value='{{advantage.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
