{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="contacts"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.contactSection.title')
    addRowButtonData="add-contact"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="contacts"
  }}
    {{#each data.data.general.contacts}}
      <div data-item-id='{{this._id}}' class='contact-row'>
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          title=(localize 'anima.ui.contactSection.contactRow.name')
          hideTitle=(is "gt" @index 0)
          inputType="text"
          inputName=(concat "data.dynamic.contacts." this._id ".name")
          inputValue=this.name
        }}
        {{>
        "systems/animabf/templates/common/ui/vertical-titled-input.hbs"
          class="description"
          title=(localize 'anima.ui.contactSection.contactRow.description')
          hideTitle=(is "gt" @index 0)
          inputType="text"
          inputName=(concat "data.dynamic.contacts." this._id ".data.description.value")
          inputValue=this.data.description.value
        }}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}