{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="disadvantages"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.disadvantageSection.title')
    addRowButtonData="add-disadvantage"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="disadvantages"
  }}
    {{#each data.data.general.disadvantages}}
      <div data-item-id='{{this._id}}' class='disadvantage-row'>
        <input
          name='data.dynamic.disadvantages.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}