{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="disadvantages"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.disadvantageSection.title')
    addRowButtonData="add-disadvantage"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="disadvantages"
  }}
    {{#each system.general.disadvantages as |disadvantage|}}
      <div data-item-id='{{disadvantage._id}}' class='disadvantage-row'>
        <input
          name='system.dynamic.disadvantages.{{disadvantage._id}}.name'
          type='text'
          class='input'
          value='{{disadvantage.name}}'
        />
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
