{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="experience"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.experienceSection.title')
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="experience"
  }}
    <div class='experience-bar'>
      <div
        class='current-experience'
        style='width: {{calculateExperience data.data.general.experience.current.value data.data.general.experience.next.value }}%;'
      ></div>
    </div>
    <div class='experience-values flex mt-1'>
      <input
        name='data.general.experience.current.value'
        type='number'
        class='input current-experience {{#is "gte" data.data.general.experience.current.value data.data.general.experience.next.value }}red{{/is}}'
        value='{{data.data.general.experience.current.value}}'
      />
      /
      <input
        name='data.general.experience.next.value'
        type='number'
        class='input next-experience'
        value='{{data.data.general.experience.next.value}}'
      />
    </div>
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}