{{#> "systems/abf/templates/common/ui/group.hbs"
  class="inventory-items"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.inventoryItemsSection.title')
    addRowButtonData="add-inventory-item"
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="inventory-items"
  }}
    {{#each system.general.inventory as |item index|}}
      <div data-item-id='{{item._id}}' class='inventory-item-row'>
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="name"
          hideTitle=(is "gt" index 0)
          title=(localize 'anima.ui.inventoryItemsSection.name.title')
          inputType="text"
          inputName=(concat "system.dynamic.inventory." item._id ".name")
          inputValue=item.name
        }}
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="amount"
          hideTitle=(is "gt" index 0)
          title=(localize 'anima.ui.inventoryItemsSection.amount.title')
          inputName=(concat "system.dynamic.inventory." item._id ".system.amount.value")
          inputValue=item.system.amount.value
        }}
        {{>
        "systems/abf/templates/common/ui/vertical-titled-input.hbs"
          class="weight"
          hideTitle=(is "gt" index 0)
          title=(localize 'anima.ui.inventoryItemsSection.weight.title')
          inputName=(concat "system.dynamic.inventory." item._id ".system.weight.value")
          inputValue=item.system.weight.value
        }}
      </div>
    {{/each}}
  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}
