{{#> "systems/animabf/templates/common/ui/group.hbs"
  class="_notes"
}}
  {{>
  "systems/animabf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.notesSection.title')
    addRowButtonData="add-note"
  }}
  {{#> "systems/animabf/templates/common/ui/group-body.hbs"
    class="_notes"
  }}
    {{#each system.general.notes as |note|}}
      <div data-item-id='{{note._id}}' class='note-row'>
        {{editor note.system.enrichedName target=(concat "system.dynamic.notes." note._id ".name") button=true owner=true editable=true}}
      </div>
    {{/each}}
  {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
{{/"systems/animabf/templates/common/ui/group.hbs"}}
