{{#> "systems/abf/templates/common/ui/group.hbs"
  class="regeneration"
}}
  {{>
  "systems/abf/templates/common/ui/group-header.hbs"
    title=(localize 'anima.ui.general.regeneration.title')
  }}
  {{#> "systems/abf/templates/common/ui/group-body.hbs"
    class="regeneration"
  }}
    <div class='regeneration-row'>
        {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="movement"
        title=(localize 'anima.ui.general.regeneration.regenerationType.title')
        inputName="system.characteristics.secondaries.regenerationType.mod.value"
        inputValue=system.characteristics.secondaries.regenerationType.mod.value
        hasSecondaryInput=true
        disableSecondaryInput=true
        secondaryInputName="system.characteristics.secondaries.regenerationType.final.value"
        secondaryInputValue=system.characteristics.secondaries.regenerationType.final.value
        }}
        {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="info-container"
        title=(localize 'anima.ui.general.regeneration.resting.title')
        inputType="text"
        disabled=true
        inputValue=(concat system.characteristics.secondaries.regeneration.resting.value (localize (concat "anima.ui.general.regeneration.period." system.characteristics.secondaries.regeneration.resting.period ".title")))
        }}
        {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="info-container"
        title=(localize 'anima.ui.general.regeneration.notResting.title')
        inputType="text"
        disabled=true
        inputValue=(concat system.characteristics.secondaries.regeneration.normal.value (localize (concat "anima.ui.general.regeneration.period." system.characteristics.secondaries.regeneration.normal.period ".title")))
        }}
        {{>
      "systems/abf/templates/common/ui/vertical-titled-input.hbs"
        class="info-container"
        title=(localize 'anima.ui.general.regeneration.penaltyReduction.title')
        inputType="text"
        disabled=true
        inputValue=(concat system.characteristics.secondaries.regeneration.recovery.value (localize (concat "anima.ui.general.regeneration.period." system.characteristics.secondaries.regeneration.recovery.period ".title")))
        }}

    </div>
    <div class="regeneration-second-row">
      {{>
      "systems/abf/templates/common/ui/horizontal-titled-input.hbs"
        class="info-container"
        title=(localize 'anima.ui.general.regeneration.special.title')
        inputType="text"
        disabled=true
        inputValue=(localize (concat "anima.ui.general.regeneration.special." system.characteristics.secondaries.regenerationType.final.value ".title"))
        }}
    </div>

  {{/"systems/abf/templates/common/ui/group-body.hbs"}}
{{/"systems/abf/templates/common/ui/group.hbs"}}

