<div class='group titles mt-3'>
  <div class='group-header'>
    <img
      class='add-button'
      data-on-click='add-title'
      src='/systems/animabf/assets/icons/game-icons.net/ffffff/sbed/add.svg'
    />
    <h3 class='group-header-title'>{{localize 'anima.ui.titleSection.title'}}</h3>
  </div>
  <div id='titles-context-menu-container' class='group-body'>
    {{#each data.data.general.titles}}
      <div data-item-id='{{this._id}}' class='title-row'>
        <input
          name='data.dynamic.titles.{{this._id}}.name'
          type='text'
          class='input'
          value='{{this.name}}'
        />
      </div>
    {{/each}}
  </div>
</div>