<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class='base-item'>
    <div class='first-column'>
      {{> "systems/animabf/templates/items/base/parts/item-image.hbs"}}
    </div>
    <div class='second-column'>
      {{> @partial-block}}
    </div>
  </div>
</form>