<div class="combat">
    <div class="first-row">
         {{> "systems/abf/templates/actor/parts/combat/parts/base-values.hbs"}}
         {{> "systems/abf/templates/actor/parts/combat/parts/ammo.hbs"}}
    </div>
    <div class='second-row'>
      {{> "systems/abf/templates/actor/parts/combat/parts/weapons.hbs"}}
      {{> "systems/abf/templates/actor/parts/combat/parts/armors.hbs"}}
    </div>
    <div class='third-row'>
      {{> "systems/abf/templates/actor/parts/combat/parts/supernatural-shields.hbs"}}
      {{> "systems/abf/templates/actor/parts/combat/parts/combat-special-skills.hbs"}}
      {{> "systems/abf/templates/actor/parts/combat/parts/combat-tables.hbs"}}
    </div>
</div>
