<div class='actor-header'>
  {{> "systems/animabf/templates/actor/parts/header/parts/top.hbs"}}

  <div class='columns'>
    <div class='first-column'>
      {{> "systems/animabf/templates/actor/parts/header/parts/actor-image.hbs"}}
    </div>
    <div class='second-column'>
      {{> "systems/animabf/templates/actor/parts/header/parts/primary-characteristics.hbs"}}
    </div>
    <div class='third-column'>
      <div class='sub-column'>
        {{> "systems/animabf/templates/actor/parts/header/parts/resistances.hbs"}}
        <div>
          {{> "systems/animabf/templates/actor/parts/header/parts/common-resources.hbs"}}
          {{> "systems/animabf/templates/actor/parts/header/parts/modifiers.hbs"}}
        </div>
      </div>
      {{> "systems/animabf/templates/actor/parts/header/parts/total-armor.hbs"}}
    </div>
  </div>


</div>